[2020-11-20 10:41] PedroBern opened #1 "Run snap animation with Animated instead of scrollTo"
Currently, the snap animation is handled with `scrollTo`, would be better to run it with `Animated`.

[2020-11-20 10:43] PedroBern opened #2 "Allow passing ref to control currently focused scene"
Currently, there is no way to pass a `ref` to the scrollable components. Would be nice to support it.

[2020-11-20 12:56] PedroBern opened #3 "Allow to define initial offset for the header"
Currently, the `CollapsibleTabView` always starts with the header expanded. Would be nice to allow starting collapsed, or at any given offset.

[2020-11-20 17:08] aminerol opened #4 "RefreshControl wrong position on iOS"
The RefreshControl be shown on top of the header where it should be shown at top of FlatList itself, is there any workaround so the RefreshControl stick at the top of FlatList

[2020-11-20 18:38] PedroBern commented on #4
Hi @aminerol I've just added this in the [example](https://github.com/PedroBern/react-native-collapsible-tab-view/commit/eba4cab8d9d975a6571bb495892e3d4eddd85787). The [new expo app](https://expo.io/@pedrobern/projects/react-native-collapsible-tab-view-demos) is already published with the changes. Check out the `contacts` tab. Although it's an android implementation, we still need an ios workaroun

[2020-11-24 23:20] kiwina opened #5 "Define a minimum header hight"
Hi, love this plugin well written.
I'm trying to make a header with several animated objects in it that fade out but some will stay. So far i have not figured out where the final offset is calculated to keep some of the header without closing it compleately

[2020-11-24 23:29] kiwina commented on #4
Hi, i tried setting progressViewOffset on android to have the control on top of the page, and its there problem is its behind the header, don't see a way to change the zindex of it. Any solutions?

[2020-11-25 16:57] kiwina opened #6 "Allways allow header to collapse"
It would be nice to actually have the header collapse even if the tab content does not fill the page

[2020-11-25 17:36] PedroBern commented on #5
Hi @kiwina can you share some code or a screenshot?

[2020-11-27 17:10] PedroBern commented on #4
@kiwina can you share the code?

[2020-11-28 12:23] andreialecu opened #7 "Integration with react navigation"
Thank you for creating this!

I saw that you mentioned in https://github.com/satya164/react-native-tab-view/pull/1096#issue-520914860 that there would be integration with `react-navigation`.

I'm really interested in this, and would love to help by testing it. Alternatively, if you can share the private implementation you mentioned, I might be able to implement and test that as well, before a poli

[2020-11-28 20:26] PedroBern commented on #7
Hi @andreialecu, I don't plan to add the integration by myself, because for now it solves my use case. But if you or someone is willing to open a PR, I would accept it :)

## Implementation

The implementation is super simple, you can do it in 3 steps:

### 1. MaterialTopTabsCollapsibleTabView

Same as the [original](https://github.com/react-navigation/react-navigation/blob/main/packages/material-

[2020-11-29 19:52] sniib opened #8 "Header gets stuck if a tab doesnt have enough content"
First of all, thanks for creating this awesome wrapper!

As you can see, when I scroll down the A tab and switch to B, the header gets stuck and there is empty space between the header and the content. I guess the expected behaviour would be that the header resets to max height when switching to tab B.

![Alt Text](https://media.giphy.com/media/zgj2qA3BrRVGpveESk/giphy.gif)

[2020-11-30 13:31] andreialecu opened #9 "Using `snapToOffsets` instead of the custom snap code"
I noticed that there's some sort of loop happening when doing very small momentum scrolls within the header.

I'm not sure if this reproduces outside of my project, and I also use `react-navigation` via a WIP PR I'm working on for #7

What seems to be happening is that `onMomentumScrollEnd` triggers via the user gesture, then `syncScrollOffset` calls `scrollScene` which then also triggers `onMomen

[2020-11-30 13:37] andreialecu commented on #9
I guess one reason for using the custom snap code is the ability to override the `snapThreshold`.

The native `snapToOffsets` prop has improved behavior and stops momentum scrolling at the snap points, so the header doesn't peek through before snapping back, which may be preferable.

[2020-11-30 15:26] andreialecu commented on #8
I'm also running into this and I'm curious how to solve it.

Since the user can see part of other tabs while swiping, I'm not sure how to visually handle this.

A potential solution might be to fix the gap up top so the tab content starts aligned to the top. Then once the gesture is released, the header might pop in and the tab content would move down.

[2020-11-30 15:51] andreialecu commented on #7
Thanks for the pointers! I opened a PR at #10 which implements this, and it seems to work perfectly in conjunction with #9

[2020-11-30 15:55] andreialecu commented on #9
May need to verify that it doesn't break cases when the tab content slightly overshoots the window size by less than the snap offset, so it doesn't get stuck offscreen with the list snapping back and not allowing access to it.

[2020-11-30 20:00] PedroBern commented on #8
The above commit fix it, but a customized `minHeight`, including the navigation bar and status bar height, would be a better solution but must be provided in-app, not in-package.

[2020-11-30 20:00] #8 closed

[2020-11-30 20:06] PedroBern commented on #9
The `snapToOffsets` and `snapToInterval` indeed are a better solution for the `ScrollView`, but won't work for the `FlatList`. The current implementation is a simple way to handle both cases at the same time/same way.

[2020-11-30 20:18] PedroBern commented on #9
I did a quick test on the examples folder, adding `snapToOffsets={[0, HEADER_HEIGHT]}` to all scrollable components and running on the `Collapsible Tab View no snap` demo, wich has `disableSnap={true}`, and it looks like working fine for scroll view, but does not work for flatlist.

[2020-11-30 20:25] andreialecu commented on #9
Weird. It works with FlatList in the app I'm working on with no issues. I didn't test the examples folder though, something must be different.

[2020-11-30 23:19] andreialecu commented on #9
@PedroBern make sure to also add `snapToEnd={false}` otherwise the snap points keep repeating for the rest of the list, resulting in weird scrolling behavior.

[2020-11-30 23:47] PedroBern commented on #9
😝  forgot, I will try it again later

[2020-12-01 15:07] PedroBern commented on #9
@andreialecu Can you make a review of #11, please? There was one thing I didn't understand, after fixing #8 and moving to `snapToOffsets` if I didn't add [this line](https://github.com/PedroBern/react-native-collapsible-tab-view/blob/perf-snap/example/src/Shared/Albums.tsx#L56), the albums tab would double in height.

[2020-12-02 12:22] andreialecu commented on #9
I was able to fix the glitch in #12. I propose we keep the custom snapping code and if someone wants to override they can use `disableSnap: true` and their own custom snap offsets.

[2020-12-02 13:52] #9 closed

[2020-12-02 16:54] PedroBern commented on #1
closed in favor of #12

[2020-12-02 16:54] #1 closed

[2020-12-02 17:22] PedroBern commented on #7
merged #10 👍

[2020-12-02 17:22] #7 closed

[2020-12-02 19:02] PedroBern commented on #7
released in [v1.2.0](https://github.com/PedroBern/react-native-collapsible-tab-view/blob/main/CHANGELOG.md#120-2020-12-02)

[2020-12-03 12:46] PedroBern commented on #6
Closed by #13. See the small content example.

[2020-12-03 12:46] #6 closed

[2020-12-03 19:56] alexpchin opened #16 "Header not showing"
I've just tried to implement the basic example but the header isn't displaying? I'm on:

[code]

Using:

[code]

Any ideas?

[2020-12-03 20:08] alexpchin commented on #16
It seems like you should include the header in renderTabBar?

[code]

[2020-12-03 22:01] PedroBern commented on #16
Hi @alexpchin no, the header shouldn't be included in the tab bar.

Did you forget to add the styles? Assuming you are copying from the quick start example in the readme.

[code]

[2020-12-04 07:47] alexpchin commented on #16
Hi @PedroBern I do appreciate that this issue seems like I haven't followed the installation instructions... I promise I'm not simple ;)  I am adding to an existing react-native application.

Firstly, to get up and running I had to install `@react-navigation/material-top-tabs`. Whilst I do have react-navigation running in the project, it seemed from the README that you only had to do this if you w

[2020-12-04 10:27] alexpchin commented on #16
FYI,  a small update. The issue is when you omit the `headerHeight` which the docs say is _optional_. I checked the code in your example. If you comment out `CollapsibleTabViewDemoExample`, you will see the issue I was facing.

[code]

Thanks!

[2020-12-04 11:59] PedroBern commented on #16
That's weird, it does not happen here. I've just commented out, I get the same behavior as before.

Do you mean the tab or the screen of the tab? If you have a tab screen smaller than the window, you can see [small content example](https://github.com/PedroBern/react-native-collapsible-tab-view/blob/main/example/src/CollapsibleTabViewSmallContentExample.tsx).

Perfect, if can do that I appreciate :

[2020-12-04 12:24] alexpchin commented on #16
Thank you for the heads up on the small content example.

So far my steps:

- I forked the repo.
- Loaded the packages in example with yarn.
- Ran the example using ios simulator. (Everything worked ok).
- Commented out the line about `headerHeight` which causes the header not to appear.

Interestingly, the header works fine if the value is:

[code]

The line in `CollapsibleTabView`:

[code]

If t

[2020-12-04 16:11] PedroBern commented on #16
It will be handled inside the package in the next release with #17

Regardings the header height, I will check it today and come back here.

[2020-12-04 16:35] PedroBern commented on #16
The `48` is the `minHeight`. You can check the real `tabBarHeight` with the following code in your fork. We need to chose between computing the real `tabBarHeight` or `headerHeight` onLayout, we can't guess both, only if one of then is provided, in this case, I choose to always have `tabBarHeight`, allowing to render a header without up front height.

Add this to your fork, in the `CollapsibleTabV

[2020-12-04 17:19] PedroBern commented on #16
I get `49.428558349609375`.

Check out #18, at any moment the preview will be ready. Or see [the code](https://github.com/PedroBern/react-native-collapsible-tab-view/pull/18/commits/534aa58b13d4d5f923de794eaa85a5329ef854b9) and try to implement by yourself to see if works. I don't have access to iOS simulator right now, so I couldn't tell.

[2020-12-04 17:40] alexpchin commented on #16
Hi @PedroBern Thanks! I've just fetched #18 and the problem still occurs. I will look at a possible solution now.

[2020-12-04 17:52] PedroBern commented on #16
@alexpchin thanks, please if you solve share it here or open a PR :)

[2020-12-04 18:04] alexpchin commented on #16
Hello @PedroBern From what I can tell, I think this is working:

[code]

Accompanied by:

[code]

[2020-12-04 18:44] PedroBern commented on #16
Of course! Already pushed to #18

[2020-12-04 18:57] PedroBern commented on #16
Solved in `v1.3.1`, with #18

[2020-12-04 18:57] #16 closed

[2020-12-04 19:41] alexpchin commented on #16
👍🏻 Kudos on the library by the way. Nice work!

[2020-12-04 19:56] PedroBern commented on #16
Thanks :) please let me know if you find more problems

[2020-12-04 20:28] PedroBern opened #19 "Gap between header and content if lazy === true"
### Current behavior

`<CollapsibleTabView  lazy ...>` do not sync scroll position of unmounted routes, as expected, because the routes are unmounted! But, when the routes are mounted, may start with a gap between the header and the content.

### Expected behaviour

When mounting the lazy routes, they should know the header position and start with the correct scroll position.

### Workaround

The

[2020-12-05 11:04] alexpchin opened #20 "Shared Pull To Refresh"
### Feature request

You may want to implement a pull to refresh that is shared across all tabs. This might just be good to be included in the examples.

### Current behavior

Currently, the examples load a pullToRefresh from each tab's scene independently. I.e. if you do not implement a pull to refresh on each tab, then depending on what tab you are on you you'll get different behaviour.

TAB
- S

[2020-12-07 11:34] PedroBern commented on #20
@alexpchin we definitely can benefit from a shared pull to refresh example. Would you like to implement it in a new example? Or do you think we should completely replace the current behavior?

I'm also want to add an example for #19

[2020-12-08 10:30] alexpchin commented on #20
@PedroBern I'll start exploring some options today.

[2020-12-08 12:24] PedroBern commented on #20
@alexpchin I think the easiest way is to create a context with value something like this:

[code]

Then, consume the context inside each tab. All tabs can start refreshing, triggering the `useEffect` on the others.

To create the context, there is this helper `createCtx` from `./src/CollapsibleTabViewContext`, it's not exported, so we need to either copy or export:

[code]

What do you think?

[2020-12-08 13:26] alexpchin opened #21 "Position of `ListEmptyComponent`"
I'm just investigating the rendered position when you include a `ListEmptyComponent`. I believe the position is correct when you scroll to hide the header (i.e. the List EmptyComponent is in the middle of the screen). However, it displays too far down when the header is displayed (the default on page load).

For example in `Contacts.tsx`.

[code]

![Screenshot 2020-12-08 at 13 25 25](https://user-

[2020-12-08 13:39] alexpchin commented on #21
Can we perhaps resolve this using `flexGrow: 1` instead of using minHeight?

[code]

Gives:

![Screenshot 2020-12-08 at 13 38 43](https://user-images.githubusercontent.com/40461/101490756-b74c4180-395a-11eb-93de-6268d3a93d13.png)

[2020-12-08 14:17] PedroBern commented on #21
@alexpchin I'm not with the project open right now, I will check it later, but I think removing the `minHeight` will re-introduce a bug in case of the content being smaller than the screen height (#8). Can you check this by adding the same `contentContainerStyleProp` to the `SmallContentExample` ?

[2020-12-08 15:53] alexpchin commented on #21
@PedroBern Yes, you are correct. It does create a gap at the top when scrolling between tabs. I will look into it further now.

[2020-12-09 00:54] PedroBern commented on #21
@alexpchin check out the #22 preview, please let me know if it is working for you or if you have something to add. When you say it's ok I will merge and release :)

[2020-12-09 05:39] jojojojo1322 opened #23 "plz not TypeScript // plz plz React Component Plz"
I don't know how to write TypeScript.
Could you please coding a "quick start" consisting of a react component?
I've been struggling for days.
I'm dying.
only 2days left.

[2020-12-09 10:30] alexpchin commented on #21
@PedroBern is the man. 🚀

[2020-12-09 10:37] alexpchin commented on #4
@PedroBern Is this still relevant? Is @aminerol asking for the `RefreshControl` to be shown below the header?

[2020-12-09 10:51] alexpchin commented on #4
Are we talking about implementing:

- https://reactnative.dev/docs/scrollview#contentinset (iOS)
- https://reactnative.dev/docs/scrollview#contentoffset (iOS)

Because:

- https://reactnative.dev/docs/flatlist#progressviewoffset (Android)

Just trying to understand what @aminerol is asking for?

[2020-12-09 11:21] PedroBern commented on #21
released in `v1.4.1` 🚀

[2020-12-09 11:24] PedroBern commented on #23
Hi @jojojojo1322, convert typescrit to  js is simple:

[code]

[2020-12-09 11:24] #23 closed

[2020-12-09 11:28] PedroBern commented on #4
@alexpchin I will check this later, there is a [related question on StackOverflow](https://stackoverflow.com/questions/56969502/progressviewoffset-for-ios-refresh-control-react-native) that may help to solve this.

[2020-12-09 11:50] jojojojo1322 commented on #23
I'm alive. Thanbkkkkkkkkkkkk
I Love YOu~~~~~

[2020-12-09 12:09] jojojojo1322 commented on #23
ㅡㅡ

[2020-12-09 13:28] PedroBern commented on #23
👍 👍 👍 👍

Good luck with your code, here is a nice typescript resource: https://github.com/typescript-cheatsheets/react

[2020-12-09 17:11] alexpchin commented on #21
@PedroBern If there were two EmptyList Components:

i.e. Very simplified example to reproduce:

[code]

With the current implementation, you would get:

<img width="491" alt="Screenshot 2020-12-09 at 17 10 27" src="https://user-images.githubusercontent.com/40461/101662532-885ccb00-3a41-11eb-8c67-1250e263c6b4.png">

And:

<img width="461" alt="Screenshot 2020-12-09 at 17 10 53" src="https://user-im

[2020-12-09 17:15] #21 closed

[2020-12-13 07:26] midoushitongtong opened #24 "How do I get the correct ref for a FlatList?"
hi
I want to use some api on `<FlatList />`, like `scrollToIndex`, but I can't get the ref correctly.

[code]

What might I have missed?

[2020-12-14 12:13] PedroBern commented on #24
Hi @midoushitongtong it's a duplicate of #2

[2020-12-14 12:13] #24 closed

[2020-12-15 09:27] 345ml opened #26 "Not work syncScrollOffsets"
I tried to send a Pull Request, but was failed by the process.
Instead, I will send a diff of the js file.
Sorry about that.

### Current behavior
Not work syncScrollOffsets.

### Expected behaviour
Work syncScrollOffsets.

### Code sample
It seems to be a `ref` problem.
The `scrollToxxx` method is not being accessed.

[code]

[2020-12-15 10:00] 345ml opened #27 "Unable to resolve module @react-navigation/material-top-tabs"
[code]

I used it without the integration with react-navigation, but the above error occurs.

[2020-12-15 13:03] PedroBern commented on #26
Hi @345ml , if you want to use `scrollToOffsets` instead of the current snap, you can do the following:

1. Disable the snap

[code]

2. Add the following to your `FlatList` or `ScrollView`

[code]

[2020-12-15 13:11] PedroBern commented on #26
Hi @345ml, can you share a reproducible demo?

[2020-12-15 14:46] andreialecu commented on #27
`bundling failed` seems like a weird message, and looks related to building the project, not using it.

Can you explain step by step what you did to receive this error?

[2020-12-15 15:12] PedroBern commented on #27
@andreialecu it seems to happen because we are exporting `createMaterialCollapsibleTopTabNavigator ` and `MaterialTopTabsCollapsibleTabView ` even if `react-navigation` isen't installed. So, `react-navigation` is not added as a dependency, it will break the build.

It's easy to reproduce:

1. Create a new expo project
2. Add `react-native-collapsible-tab-view` and the peers (without `react-navigat

[2020-12-15 15:17] andreialecu commented on #27
I see. I don't use expo so I wasn't familiar with that error signature.

Normally if the material tab files are not imported there shouldn't be any error but I suspect that typescript is interfering. I will take a look in a couple of hours, currently away for a bit.

[2020-12-15 15:27] PedroBern commented on #27
Thanks @andreialecu! But don't worry, it's not a priority

[2020-12-15 15:49] andreialecu commented on #27
I'm still on mobile but I figured out what the problem is. It's related to these exports:
https://github.com/PedroBern/react-native-collapsible-tab-view/blob/e58a5f5a18eed700fb741c931c6493ba8e852907/src/index.tsx#L9

They should be in a separate file instead of the index. Perhaps one named navigation.tsx so that end users would imported them from "react-native-collapsible-tab-view/navigation" inst

[2020-12-15 17:38] andreialecu commented on #27
Upon further investigation, the problem with my proposed approach above is that because of the path structure of the published package, the imports would end up looking like:

[code]

Which isn't a great experience...

There's a proposal here that would allow rewriting the imports so that `react-native-collapsible-tab-view/navigation` would work, but I'm not sure if react native and the metro bund

[2020-12-15 18:58] PedroBern commented on #27
@andreialecu thanks for the help. Did a quick modification, adding a `navigation.tsx` to export the navigator, published the `@beta` version to test, and didn't work. Need to import from `.../lib/module/navigation`, and something was broken, because the navigator stopped working in my project.

Seems like the best alternative is the `2` you have pointed, I will look into it in the future, but as r

[2020-12-15 19:15] PedroBern commented on #27
As it isn't an optional dependency anymore (in `v1.4.2`), I'm closing. When there is some extra time, I will look into refactoring into a monorepo.

[2020-12-15 19:15] #27 closed

[2020-12-16 01:46] 345ml commented on #27
Good job guys!!!

[2020-12-16 01:48] 345ml commented on #26
I'm sorry for the lack of information.
I will prepare a sample code.

[2020-12-16 02:25] 345ml commented on #26
@PedroBern
Thanks quick response!!

![collapsed](https://user-images.githubusercontent.com/8254811/102296585-80e66780-3f02-11eb-8911-d9e274ff42d8.gif)

This is a slightly modified version of the Quick start sample code.
The content of the ScrollView has been changed to make the display easier to understand.

[code]

[2020-12-27 21:35] yfunk opened #28 "Respond to scroll gestures on collapsible header"
### Feature request
In some cases, where the collapsible header covers a significant amount of the vertical screen space, a user might prefer or even be forced to start their scroll gesture on the collapsible header. There are a few cases I can think of where this may happen:

- **When the header is used to display larger amounts of content**. Say you are developing a delivery app and want to disp

[2020-12-28 14:42] PedroBern commented on #28
Hi @yfunk I already opened a PR to fix it, but it's not ready yet. You can help by reviewing it :)

[2020-12-28 14:53] PedroBern commented on #28
Check out the expo preview app for #30 .

[expo.io/@pedrobern/react-native-collapsible-tab-view-demos?release-channel=pr-30](https://expo.io/@pedrobern/react-native-collapsible-tab-view-demos?release-channel=pr-30)

<a href="https://expo.io/@pedrobern/react-native-collapsible-tab-view-demos?release-channel=pr-30"><img src="https://api.qrserver.com/v1/create-qr-code/?size=400x400&data=exp://exp.hos

[2020-12-29 13:03] PedroBern commented on #26
Hi @345ml I don't have this bug. Did you test on a real device?

[2020-12-29 14:07] #28 closed

[2021-01-02 17:22] kioopi opened #32 "Padding showing when changing tabs."
Thank you for your great library!

When I have scrolled down on one tab so that the header is hidden and then change to another tab (via swipe or tap on the tab) that is scrolled all the way to the top, the paddingTop is showing.  It would usually be obscured by the header and tabs but the header is shrunk because of the interaction with the previous tab.

Is there known solution for this? Or a ca

[2021-01-02 21:02] PedroBern commented on #32
Hi @kioopi can you provide a reproducible demo or a gif/ small video? It's an android or iOS?

[2021-01-03 07:49] Janak-Nirmal commented on #32
Hi @PedroBern

Its really awesome library and your support even makes it cherry on the top. Below is the video of this issue.

- Scroll to the end in Tab1, Tab2 has short content but it still scrolls to end. Now if you try to scroll in Tab2 it will reset its offset and that's the issue I believe.
- Hope this helps to understand the issue

https://user-images.githubusercontent.com/1412113/103474073

[2021-01-03 10:28] Janak-Nirmal commented on #32
@PedroBern I tried to investigate and it seems when TabView index is changed `syncScrollOffsets` is not called somehow. Tried to add manually handling to onIndexChange

[code]

Just wanted to help so I tried :)

But this doesn't work properly, it has other side effects it resets current scrolled position of
individual Tabs.

[2021-01-03 17:49] kioopi commented on #32
@Janak-Nirmal Thanks you, that is exactly what i was encountering. The blank space above the round images on the second tab.
I'll try to experiment with `syncScrollOffsets` and `lazy`.

[2021-01-04 12:16] PedroBern commented on #32
@Janak-Nirmal thanks for the help 👍

@kioopi see #19, does it happen if using `lazy={false}`?

[2021-01-04 12:18] Janak-Nirmal commented on #32
@PedroBern yes if you set lazy=false than it doesn't happen.

[2021-01-04 12:46] PedroBern commented on #32
closing in favor of #19

[2021-01-04 12:46] #32 closed

[2021-01-04 16:56] alexpchin opened #33 "Issue with customRenderTabBar"
Hi @PedroBern I hope you had a nice Christmas and New Year.

I'm just looking into an issue when you use a custom tab bar. Everything works when you don't render a custom tab bar, however, when using a custom tab bar it seems like the preventDefault does not prevent clicking on the tab when the user is scrolling. Is this perhaps because the `isGliding.current` is being passed instead of `isGliding

[2021-01-04 17:11] PedroBern commented on #33
Hi @alexpchin thanks, I hope you had a nice time too :)

If you log the `isGlidding`, does it update from `false` to `true` and vice versa?

[2021-01-04 17:27] alexpchin commented on #33
@PedroBern When first loading, without scrolling `isGliding` is `false`. Then when I scroll up and wait for the tabBar to reach the top, `isGliding` is `false`. However, if I click during the scroll, `isGliding` is `true` and then it doesn't switch back and it seemingly gets stuck.

[2021-01-04 17:32] alexpchin commented on #33
What if we do:

[code]

Why do we pass the `.current` reference instead of the whole ref? Am I forgetting something?

[2021-01-04 18:32] PedroBern commented on #33
If we pass the whole ref, then we will need to use the `.current` inside the custom tab bar. But if this fixes, ok then. I didn't test with a custom tab bar yet.

Can you test and send a PR? If you can't, I probably will see it only later this week

[2021-01-05 10:06] alexpchin commented on #33
@PedroBern I'll take a look now

[2021-01-05 11:03] alexpchin commented on #33
Hi @PedroBern I've made a PR https://github.com/PedroBern/react-native-collapsible-tab-view/pull/34 Please take a look!

[2021-01-05 16:57] #33 closed

[2021-01-05 16:59] PedroBern commented on #33
@alexpchin thanks for the PR, v2 is out 🚀

[2021-01-05 17:02] PedroBern commented on #33
@alexpchin I did some modifications to the example after updating the types 👍

[2021-01-05 17:58] alexpchin commented on #33
@PedroBern Thanks for merging so quiickly. My Typescript is a bit rusty... I thought you might have to do that!

[2021-01-05 18:18] PedroBern commented on #33
the problem was with the `CollapsibleTabView` types definition, now its good, but I still need to add the generics for the `createMaterialCollapsibleTabView`

[2021-01-05 18:21] PedroBern commented on #33
Now it's possible to pass the custom tab bar props type into the CollapsibleTabView and the tabBarProps will recognize the props

[code]

[2021-01-06 11:29] alexpchin opened #36 "When your Animated.FlatList needs to be nested within other components?"
@PedroBern Here is an interesting one. One of the Collapsible Scenes within my Tabs is a HOC component which fetches data from a Search Service (Algolia), the results of which are displayed in a `FlatList`.

Due to the warning: `VirualizedLists should never be nested inside plain ScrollViews with the same orientation - use another VirtualizedList-backed container instead.` I have created a re-usab

[2021-01-06 11:32] alexpchin commented on #36
https://github.com/PedroBern/react-native-collapsible-tab-view/pull/37

[2021-01-06 13:25] PedroBern commented on #36
Hi @alexpchin we can't do it. The solution is to display the algolia search results in the flatlist, instead of in the ListHeaderComponent.

I have a case like this, where I have a HoC component ([createPaginationContainer](https://relay.dev/docs/en/pagination-container#createpaginationcontainer)) for each tab of my collapsible tabs.

[2021-01-06 16:59] alexpchin commented on #36
@PedroBern I've actually just realised that `root` was removed from `InstantSearch` in https://github.com/algolia/react-instantsearch/pull/2339 So (using the basic code structure below as one of my tabs), `InstantSearch` does not actually wrap `Hits` in another component.

I updated the PR to show an example with Algolia.

If you have any time to have a read, it would be extremly helpful. Currentl

[2021-01-06 17:34] PedroBern commented on #36
@alexpchin I fetched and ran the example, what's the bug? Everything is working. The images are loaded and when I switch tabs the centered list empty is in the correct position

[2021-01-06 18:10] alexpchin commented on #36
@PedroBern Typical. I've re-run the example and it also seems to be working for me. I'll double-check things...

[2021-01-06 20:24] PedroBern commented on #36
@alexpchin typical 😄  is everything work?

[2021-01-07 12:59] PentamapRainer commented on #5
Same here: How is it possible to set a minimum height of the remaining collapsible header so that there can be shown an ActionBar? It should look similar to that:

![Simulator Screen Shot - iPhone 11 - 2021-01-07 at 13 58 28](https://user-images.githubusercontent.com/6825724/103895269-6d3cb400-50f0-11eb-8e80-23766422fba6.png)

[2021-01-07 13:17] alexpchin commented on #36
@PedroBern Wow this has been very frustrating!

In my project, I moved `useCollapsibleScene` to the parent component and then passed through the `scenePropsAndRef` through to the `ConnectedHits` so that `ConnectedHits` could be reused in places other than within a `react-native-collapsible-tab-view`.

E.g.

[code]

However, due to the `ref` not being forwarded correctly, with the HOC `connectInfin

[2021-01-07 13:42] PedroBern commented on #5
Hi @PentamapRainer you can render the toolbar above the `CollapsibleTabView` and pass the same `Animated.Value` to both (<CollapsibleTabView animatedValue={scrollY} />)

I have a setup like this where I'm using a `react-navigation` header and animating the title when the user is scrolling.

[2021-01-07 14:09] PentamapRainer commented on #5
When I try to render the toolbar above the `CollapsibleTabView` with following code, then the `CollapsibleTabView` is not shown any more. Just the `Text` element is shown.

[code]

So where do I have to render the NavigationBar above the  `CollapsibleTabView`?

[2021-01-07 14:12] PedroBern commented on #5
Did you try `flex: 1`?

[2021-01-07 14:33] PentamapRainer commented on #5
Thanks a lot! That worked:

[code]

[2021-01-08 00:30] carlos187-dev commented on #32
I still having this issue even with lazy={false}

[2021-01-08 08:30] PentamapRainer commented on #5
One more question to this issue: Is it possible to make the collapsible header behind the (transparent) NavigationBar, so that the header image is visible behind the NavigtionBar when scrolling to the top.

This is how it looks now:

![Simulator Screen Shot - iPhone 11 - 2021-01-08 at 09 25 50](https://user-images.githubusercontent.com/6825724/103992152-fc4ed800-5193-11eb-8095-57c2d1c4c8ae.png)

T

[2021-01-09 11:23] Janak-Nirmal commented on #19
@PedroBern Is there any solution to fix this issue, using lazy={true} is necessary if we don't want to load all the data until user really visits that tab.

[2021-01-09 13:00] PedroBern commented on #19
@Janak-Nirmal  as I wrote above:

[2021-01-11 11:38] ariesbrylle-bms commented on #26
Encountered this also, until now, I can't find a solution.

[2021-01-12 01:58] 345ml commented on #26
@PedroBern
Sorry for the late reply.
This will be reproduced in the iOS simulator.

However, I feel that it is due to something else rather than a difference in devices.

[2021-01-12 19:35] alexpchin opened #38 "Allow a hook like `react-navigation` hook `useScrollToTop` to scroll all tabs to the top"
A feature request to enable a ref on the `CollapsibleTabView` when clicking on the `react-navigation` bottom tab, to reset the scroll of all of the tabs to the top.

[2021-01-12 21:29] PedroBern commented on #38
Related #2

[2021-01-12 22:05] alexpchin commented on #38
@PedroBern I was going to reference that issue actually! Also thanks for the good first issue 👍  Lol

[2021-01-13 00:47] PedroBern commented on #38
@alexpchin this is a must-have feature, I was thinking about it since the beginning, you can see the related issue is number 2, the second opened issue ever. But I didn't have the time to work on it yet.

I think your suggestion to implement a hook simply to scroll to top is a lot easier to implement than #2.

[2021-01-13 03:23] ariesbrylle-bms commented on #32
Tried this but the problem still occurs.

[2021-01-13 03:24] ariesbrylle-bms commented on #32
Same here :(

[2021-01-13 12:13] PedroBern commented on #26
@345ml can you make a repro on [snack](https://snack.expo.io/)?

[2021-01-13 12:13] PedroBern commented on #32
related: #26

[2021-01-13 12:39] 345ml commented on #26
@PedroBern
I'm really sorry.
I'm already using another solution and lost the source code...

[2021-01-13 12:54] PedroBern commented on #26
@345ml no problem. I will let it open, looks like this bug is happening to some people, but I can't reproduce it.

[2021-01-13 16:17] alexpchin opened #39 "If you don't pass a value to `renderHeader`, the tabs don't show up"
I have a couple of pages that require tabs that do not require a header. I thought that the default of `renderHeader` was `() => null` so passing no header would still display the tabs as if we were using `react-native-tab-view`.

[code]

However, if you omit `renderHeader`, the tabs do not show.

![Screenshot 2021-01-13 at 16 13 19](https://user-images.githubusercontent.com/40461/104478908-bd1cee

[2021-01-13 17:00] PedroBern commented on #39
This bug was probably introduced at some point. This didn't use to happen. But I think there is no point in using it without the `renderHeader`, a better option is to use the regular tab view.

[2021-01-13 17:01] PedroBern commented on #39
It is probably easy to fix, I will try to see it later. Or you can open a PR :)

[2021-01-13 17:28] alexpchin commented on #39
It's useful to have if you want to conditionally render a header. I think it has something to do with this PR?

https://github.com/PedroBern/react-native-collapsible-tab-view/pull/18/files

[2021-01-13 18:44] PedroBern commented on #39
yes you are right, probably [here](https://github.com/PedroBern/react-native-collapsible-tab-view/pull/18/files#diff-df3446ac566c5f3c620a18f4fd9951b40e3f6e703393f8eabdf417cbbd5ce0d5L276).

Not sure, but maybe this will fix:

[code]

[2021-01-13 19:55] alexpchin commented on #39
Hmmm... I don't think so... I think it's something to do with the value of `translateY` on the `Animated.View`

[2021-01-13 20:14] alexpchin commented on #39
https://github.com/PedroBern/react-native-collapsible-tab-view/pull/40

[2021-01-14 00:10] #39 closed

[2021-01-14 00:14] PedroBern commented on #39
@alexpchin released in v2.0.1 👍  thanks

[2021-01-14 03:29] matthewwen commented on #26
Yeah I have that bug. I'll try to develop a snack for it.

[2021-01-15 18:40] matthewwen commented on #26
Here is the expo snack for it. https://snack.expo.io/@mattwen2018/collapsibleheader
@PedroBern

[2021-01-15 23:54] PedroBern commented on #26
@matthewwen thanks, now I'm reproducing the bug. Don't know the cause yet.

[2021-01-16 00:03] PedroBern commented on #26
@matthewwen after upgrading to expo SDK 40, and updating to the recommended SDK dependencies version, the snack is working.

I will close this now. If somebody experiences this bug in the SDK 40, please comment here and send a repro.

## Solution

Upgrade to SDK 40

[2021-01-16 00:03] #26 closed

[2021-01-16 00:26] matthewwen commented on #26
Okay I'm going to take a closer look. I just upgraded to SDK 40 for my project and I still have the problem. It would be nice if this feature works on SDK 37.

[2021-01-16 02:04] PedroBern commented on #26
😞  On the snack, did you still have the bug on sdk 40?

[2021-01-16 17:55] matthewwen commented on #26
Yeah. I updated to SDK40 and it works, but when I update to SDK40 on my personal project, it doesn't work.

[2021-01-18 07:08] matthewwen commented on #26
@PedroBern I think I found the issue, but I'm wondering how did you calculate the "paddingTop", and how does it know if the header expanded or not?

[2021-01-18 12:14] PedroBern commented on #26
@matthewwen [here is the padding top calculation](https://github.com/PedroBern/react-native-collapsible-tab-view/blob/main/src/useCollapsibleScene.tsx#L56) It does not change.

[2021-01-22 17:13] tcorreiaubi commented on #5
@PentamapRainer If I got your question right, you can interpolate the opacity of the "bar", to do so, you can use the animated value coming from the CollapsibleTabView and interpolate it between 0 and the header height to get the opacity, something like
`
  const backgroundOpacity = scrollYPosition.interpolate({
    inputRange: [0, scrollSize],
    outputRange: [0, 1],
    extrapolate: 'clamp',

[2021-01-22 22:24] #2 closed

[2021-01-22 22:35] PedroBern opened #44 "Add a default TabBar component"
### Feature request

Add a default TabBar component.

- [ ] material design
- [ ] scrollable support

### Current behavior

The user must provide a custom tab bar.

[2021-01-22 23:15] PedroBern commented on #32
This is fixed in v3 👍

[2021-01-22 23:20] PedroBern commented on #38
This is easy to implement in v3.

[2021-01-23 00:31] PedroBern opened #45 "Support lazy tabs"
### Feature request

Support lazy tabs.

[2021-01-24 11:12] Stefan28BU opened #47 "Tabbar has low frame rates when scrolling between screens and onPress"
### Current behavior

I've copied the base example project into my project, except I added the scrollEventThrottle={12} to both Tab.FlatList and Tab.ScrollView. However, the blue indicator on the tabbar has low frame rate when scrolling horizontally or on pressing.

### Expected behaviour

The blue indicator should animate smoothly

### Code sample

[code]

### Screenshots (if applicable)

### Wha

[2021-01-24 11:20] Stefan28BU commented on #47
https://user-images.githubusercontent.com/43122767/105628659-203f3880-5e79-11eb-8802-24b48038a49e.MP4

[2021-01-24 11:21] Stefan28BU commented on #47
Notice the tabbar indicator has really low frame rate, Comparing to the solution I achieved using only nested scrollviews on the right profile bottom tab, however, since each screen has different height, nested scrollview would not be the best practice in my case.

[2021-01-24 11:29] PedroBern commented on #26
@matthewwen try v3 it is probably fixed now

[2021-01-24 11:40] PedroBern commented on #47
@Stefan28BU if you set the scrollEventThrottle to 0, how does it feel? Does it get better?

[2021-01-24 11:48] Stefan28BU commented on #47
No, it’s still the same. Not sure if this is a bug with Reanimated. I’m
currently on RC.2, and I’m not sure if it has anything to do with the
useAnimatedStyle hook. Is there any other way that I can get the screen’s
scrollX other than getting it from the TabProps?

pedrobern <notifications@github.com>于2021年1月24日 周日下午7:40写道：

[2021-01-24 11:48] PedroBern commented on #47
@Stefan28BU can you make a [reproducible snack](https://snack.expo.io/)?

[2021-01-24 11:49] PedroBern commented on #47
yes, you can get from the use useTabsContext

[2021-01-24 11:57] PedroBern commented on #47
now you can get from context on v3.1

[2021-01-25 12:28] #19 closed

[2021-01-25 12:28] #45 closed

[2021-01-25 12:52] #3 closed

[2021-01-25 12:53] PedroBern commented on #4
I don't think so, I will close this now

[2021-01-25 12:53] #4 closed

[2021-01-25 12:54] PedroBern commented on #47
@Stefan28BU do you have this bug on the expo preview? Because mine is perfect.

[2021-01-25 15:30] tcorreiaubi commented on #5
@PedroBern Is it possible to configure a minimum header height with the v3 version? While the approach of placing the component outside the Collapsible tab view component is an easy and simple approach, if you need to place the content with an absolute position on the header(something similar to the previous image on the comments), it becomes really hard to come with a solution since the absolute

[2021-01-25 17:21] PedroBern commented on #5
@tcorreiaubi no, it's still no possible in v3, I know, this desired configuration is probably hard to get with the current implementation, but it's open for PR.

The next milestones are adding a default tab bar (WIP), then integrate v3 with react-navigation.

Also, I'm planning to add something like `visibleHeaderOffset` into the context to get the visible delta and easily interpolate, for example

[2021-01-26 01:13] #44 closed

[2021-01-26 08:58] tcorreiaubi opened #52 "Header collapsing only if headerHeight is defined"
### Current behavior

The tabview header is not collapsing on scroll at the tabview

### Expected behaviour

I would expected the header to collapse as exemplified in the README, im not sure if I'm missing any configuration, but I followed the docs more than once to be sure about it

### Code sample

https://github.com/tcorreiaubi/CollapsibleTabViewsDemo

### Screenshots (if applicable)

### What

[2021-01-26 10:58] PedroBern commented on #52
hi @tcorreiaubi I ran your example. If you provide the header height, it will work. But yes this is a bug, it should work without providing the header height.

[code]

[2021-01-26 11:16] #52 closed

[2021-01-26 11:18] PedroBern commented on #52
fixed in `v3.3.1`

[2021-01-26 17:35] tcorreiaubi commented on #52
@PedroBern Seems to be working, just noticed another strange behaviour, if If I use a .map to render the tabs the scroll stops working again, example:

Does not work
[code]

Works:
[code]

TabScreen is a simple component that returns a Tabs.FlatList

[2021-01-26 17:49] PedroBern commented on #52
@tcorreiaubi this is weird, not sure, but maybe has something to do [with this line](https://github.com/PedroBern/react-native-collapsible-tab-view/blob/main/src/createCollapsibleTabs.tsx#L179)

[2021-01-28 16:03] tcorreiaubi commented on #52
Hey @PedroBern, not sure about it, I didn't had much time in the last days to test it properly, but i tried with and without .map and with lazy enabled or disabled and the behavior is exactly the same in all those cases, I also noticed that the problem only exists on the first 2 tabs, which is really strange, im uploading a video so you can see the behavior, i will also try to create a reproducibl

[2021-01-28 17:21] PedroBern commented on #52
@tcorreiaubi really weird. Please share your `tabs` array, it is missing in the code.

[2021-01-28 18:33] tcorreiaubi commented on #52
@PedroBern It's an array containing all the names
[code]

[2021-01-29 09:42] alexpchin opened #59 "Jittery behaviour?"
Hi @PedroBern, I've finally gotten around to have a look at the new v3 implementation.

On running the example, I see: `You specified `onScroll` on a <ScrollView> but not `scrollEventThrottle`. You will only receive one event. Using `16` you get all the events but be aware that it may cause frame drops, use a bigger number if you don't need as much precision.`

I don't know if it's related yet, bu

[2021-01-29 11:55] PedroBern commented on #59
Hi @alexpchin thanks for running the example. Looks like it's iOS-specific. It's perfect on android here. Can you please do me a favor, experiment with `scrollEventThrottle` on the examples, and tell me the result. You can either add it directly in the `ScrollView` / `FlatList` on the examples folder or by adding a default value in the `src/createCollapsibleTabs`.

[2021-01-29 12:08] alexpchin commented on #59
@PedroBern Will do! I haven't gotten the whole way through reading the updates yet! You've definitely been busy. I need to experiment with adding a different `TabBarComponent`.  The one I'm using has badge icons rather than labels and Dot indicators for new messages etc.

[2021-01-29 12:17] PedroBern commented on #59
@alexpchin thanks! yes quite a work, but was fun! The default tab bar isn't documented yet, but it's easy to add a custom `TabItem`, and leverage the default indicator and scrollable tabs behavior, [here is an example](https://github.com/PedroBern/react-native-collapsible-tab-view/pull/58/commits/4db1b638295fc9148f276e26b424abb5b6681b33#diff-b2a4de61f1bfc596d553f0c11c6956e74357747f6e92f0982291e00e

[2021-01-29 17:00] PedroBern commented on #59
@alexpchin I added `scrollEventThrottle={16}` on #60, not sure if it will fix this, but just because I was also doing other things

[2021-01-29 19:12] alexpchin commented on #59
Just working through integrating into my project which does not use `expo`. Here are my WIP thoughts:

- [ ] Perhaps we should make it clearer that the project uses v2 of `react-native-reanimated`?
- [ ] On the first setup, I'm getting `Encountered two children with the same key, `undefined`.
- [ ] Currently with `snapEnabled` the content is not animating.
- [ ] You can't click on the tabs once yo

[2021-01-29 19:45] PedroBern commented on #59
I will add it to the readme

Where? On the quick start code?

This is weird, here is all working 😕  Not sure if I understand it. As the snap works for me, I can't see this bug.

Good question, I didn't test it but should work

I added a ref in #58 to control the back behavior when navigating back. [See it here](https://github.com/PedroBern/react-native-collapsible-tab-view/pull/58/files?file-filte

[2021-01-29 20:33] alexpchin commented on #59
@PedroBern Interesting. Snap isn't working for me.

Can you uninstall `expo-cli` and do a fresh install from main? On running the new version, I am seeing:

[code]

I might be missing something really obvious... I've re-installed `expo-cli` and re-pulled main?

[2021-01-29 21:02] PedroBern commented on #59
It's correct, I get the same warning, it's because SDK 40 is not supposed to use reanimated v2 (yet) but [expo says it's ok](https://docs.expo.io/versions/latest/sdk/reanimated/#experimental-support-for-v2)

I've just done a fresh install, everything is working, including the snap. Does the snap work on android for you?

[2021-01-29 22:03] danielfein opened #62 "Javascript example"
I'm not using Typescript and can't figure out how to convert this to a Javascript example. It doesn't make sense for me to start using Typescript in the middle of this project. Does anybody have a javascript example?

Thank you!

[2021-01-30 07:02] alexpchin commented on #59
@PedroBern I just ran the example on the Android emulator and can confirm that the snap does work. Does it work for you on iOS at your end?

[2021-01-30 08:24] andreialecu commented on #59
I have left some related comments here: https://github.com/PedroBern/react-native-collapsible-tab-view/pull/58#issuecomment-770047353

Unfortunately there are a lot of problems on iOS with v3. Going to take a look at the implementation myself today.

[2021-01-30 08:24] alexpchin commented on #59
Also, just another few thoughts:

- [ ] How to get the currently focused tab from refMap, previously you could use `navigationState.index`?
- [ ] How to listen to the change of the tab? (Connected to above)
- [ ] Is it possible to disable `swipeEnabled` ?
- [ ] Currently, the refMap uses the keys to create the labels. If we changed the structure of refMap, it could take a `label` or component/icon

[2021-01-30 08:38] andreialecu commented on #59
Here are some of the issues I found:

Scroll position doesn't seem to sync right when the header is partly visible:

https://user-images.githubusercontent.com/697707/106351679-26546f80-62e6-11eb-9f0e-6481dea6d6f4.MP4

Snap only works when momentum scrolling rests, but not if you lift the finger while scrolling (zip because it's over the 10 mb limit for videos):

[RPReplay_Final1611995394.MP4.zip](

[2021-01-30 08:45] sanbat opened #64 "Need option for changing Tab Bar Background Color"
### Feature request

Need Option for changing Tab Bar Background Color

### Current behavior

Currently default white color hard coded in the stylesheet. Please add an option.

### Screenshots (if applicable)

[2021-01-30 08:47] andreialecu commented on #59
On iOS `onMomentumEnd` only triggers when scrolling eventually rests after a bigger swipe:

https://github.com/PedroBern/react-native-collapsible-tab-view/blob/d9642e195d48ec5c253b57711eab8e7144c11dd2/src/createCollapsibleTabs.tsx#L529-L531

It doesn't trigger for touches that drag the view.

[2021-01-30 08:53] sanbat commented on #62
Exactly.

I just managed with converting ts through https://www.typescriptlang.org/play

[2021-01-30 09:12] alexpchin commented on #59
Side point, potentially, we should ensure that `children` exists here?

[code]

[2021-01-30 09:22] andreialecu commented on #59
It appears that most of the issues I mentioned above are related to the `onMomentumEnd` event.

The reason is that `isGliding.value = true` is being set in `onEndDrag`, but because momentum doesn't start, it's never reset. Thus breaking everything else.

One way to potentially solve it is to set `isGliding` to `true` on `onMomentumBegin`. Then start a timer in `onEndDrag`, and if `isGliding` wasn'

[2021-01-30 09:34] andreialecu commented on #59
[code]

This diff seems to fix all of the issues I mentioned above, but it needs some cleanup for the `setTimeout` handling.

I notice that the `DiffClamp` example gets broken though, and keeps pushing the header up a bit every time. This is probably related to `bounces`. Here's a longer recording with these changes:

https://streamable.com/5a4aeo

[2021-01-30 11:21] PedroBern commented on #59
Im not at home right now, when I get there I will iterate over all comments. Just one thought, I saw some issues on reaninated, related to scroll on iOS that were fixed in rc.1 and rc.2, but the example folder is using rc.0

[2021-01-30 13:03] andreialecu commented on #59
I opened #65 which fixes all of the issues I reported from my initial testing.

@alexpchin if you could test it as well it would be great. I'm not sure about the jittery behaviour, seems to work fine on my physical device (iPhone 12 Pro Max).

[2021-01-30 13:07] danielfein commented on #62
@sanbat I tried that actually! I wasn't able to make sense of how a few things translated.

Like (and this is just one of many):
`const { useTabsContext, ...Tabs } = createCollapsibleTabs<TabNames>()
`
turns into:
`const _a = createCollapsibleTabs(), { useTabsContext } = _a, Tabs = __rest(_a, ["useTabsContext"]);
`

So is this saying TabNames is sent in as a parameter, because it totally disappear

[2021-01-30 13:14] andreialecu opened #66 "Scroll on Header not scrolling other tabs (iOS)"
### Current behavior

In the scroll on header example, if I go to contacts and scroll to the end, then tap the status bar, it correctly scrolls the current tab to the top.

However, all the other tabs are not synced.

### Expected behaviour

All tabs should be scrolled to the top.

### Screenshots (if applicable)

![IMG_E4F8296E5D88-1](https://user-images.githubusercontent.com/697707/106357285-dee

[2021-01-30 13:25] andreialecu commented on #59
Oh, and good job @PedroBern on the rewrite 🏆 . The implementation looks much better now with Reanimated.

[2021-01-30 14:32] sanbat commented on #62
@danielfein You are right, need in JS also.

Meanwhile I suggest you to use converted js. If you check your project 'node_module' folder of react-native-collapsible-tab-view, there you can see this module using converted js.

Working Example of converted JS

import React from 'react';
import { createCollapsibleTabs, } from 'react-native-collapsible-tab-view';
import { useAnimatedRef } from 'react-

[2021-01-30 14:35] sanbat commented on #62
@danielfein You are right, need in JS also.

Meanwhile I suggest you to use converted js. If you check your project 'node_module' folder of react-native-collapsible-tab-view, there you can see this module using converted js.

Working Example of converted JS

[code]

May be this will help you until they produce JS.

Anyhow this is an awesome package

[2021-01-30 15:06] PedroBern commented on #59
@andreialecu thanks man 👍

 How to listen to the change of the tab? (Connected to above)
 Is it possible to disable swipeEnabled ?
 Currently, the refMap uses the keys to create the labels. If we changed the structure of refMap, it could take a label or component/icon it might allow for more customisation.
{
  screen1: { ref: ref, label: label },
  screen2: { ref: ref, label: label }
}

@alexpchin

[2021-01-30 15:14] PedroBern commented on #62
You can see #23 as an example of how to translate ts to js, the example is **using the v1 docs** but is pretty straight forward, if somebody still needs help, just comment below :)

[2021-01-30 15:15] PedroBern commented on #62
You can see #23 as an example of how to translate ts to js, the example is **using the v1 docs** but is pretty straight forward.

I'm closing it for now, if somebody still needs help, just comment below :)

[2021-01-30 15:15] #62 closed

[2021-01-30 15:41] alexpchin opened #68 "Ensure that children exists"
In `createCollapsibleTabs`, we should ensure that children exists as this can be `undefined`:

Line 88:

[code]

Line 106:

[code]

[2021-01-30 15:46] alexpchin commented on #68
https://github.com/PedroBern/react-native-collapsible-tab-view/pull/69

[2021-01-30 15:52] alexpchin opened #70 "Make `refMap` more customizable"
- [ ] It would be good to be able to pass a custom Component or custom Text to TabBarItem label
- [ ] The keys may be sorted alphabetically by prettier if you use: `sort-keys-fix/sort-keys-fix` or `sort-keys` plugins
- [ ] Unusual (I know) but an empty object would error in the current structure. We should perhaps handle this?

Currently, the `refMap` uses the keys to create the labels.

Line 150

[2021-01-30 15:59] alexpchin opened #71 "How to get current tab from outside the TabContext?"
- [ ] How to get the currently focused tab from refMap, previously you could use `navigationState.index`?
- [ ] How to listen to the change of the tab? (Connected to above)

If you want to conditionally display content based on the current tab, or you just want to know for some logic which tab is currently focused, you used to be able to work this out from `navigationState`.

[2021-01-30 16:30] alexpchin opened #72 "Two children with the same key `undefined` In a Bare React Native App"
I'm seeing the error:

[code]

[2021-01-30 16:34] alexpchin opened #73 "Update documentation for `react-native-reanimated` and bump version in Example"
`react-native-reanimated` v2 has quite a bit more set-up. It's not immediately clear that when installing the library, you have to be using v2 of the library.

Also, things like Direct Debugging are things that people who install v2 may not be expecting.

Also, we should bump the version in the example to `2.0.0-rc.2`

[2021-01-30 16:36] alexpchin commented on #59
@PedroBern @andreialecu I've gone through and moved unrelated comments to their own issues and updated my comments to reduce noise and make them easier to fix. I will now start looking at them.

[2021-01-30 17:31] PedroBern commented on #70
We can achieve this with something like this (not documented yet):

[code]

Also, we probably will add something in #58 or later.

It's a problem, maybe changing refMap to be an array (?) We would need to review all the code. Right now everything depends on this order. Maybe we can just add some info in the docs saying it.

What would be the use case with an empty refMap? There would be no tabs/sc

[2021-01-30 17:33] alexpchin commented on #72
Perhaps resolved in #69 But need to test in Bare workflow.

[2021-01-30 17:34] alexpchin commented on #36
Closing as this is resolved now.

[2021-01-30 17:34] #36 closed

[2021-01-30 17:37] PedroBern commented on #71
#58 will add `onIndexChange` prop, [here](https://github.com/PedroBern/react-native-collapsible-tab-view/blob/feat-react-navigation/src/createCollapsibleTabs.tsx#L69), and the imperative ref handler [here](https://github.com/PedroBern/react-native-collapsible-tab-view/blob/feat-react-navigation/src/createCollapsibleTabs.tsx#L379), maybe we can add more methods to it, like `currectTab: () => focuse

[2021-01-30 17:39] PedroBern commented on #72
Where are you seeing this error? Which example?

[2021-01-30 17:42] PedroBern commented on #73
I'm facing this issue when trying to bump the version https://github.com/software-mansion/react-native-reanimated/issues/1640

The workaround is to comment out the line responsible for the issue inside the node_modules. But wouldn't be able to deploy the preview from github actions.

[2021-01-30 17:49] #59 closed

[2021-01-30 18:00] PedroBern commented on #47
@Stefan28BU I think it's fixed in `v3.6.3`, if you still have this issue please let me know.

[2021-01-30 18:00] #47 closed

[2021-01-30 18:06] PedroBern commented on #66
Do you mean the status bar or the tab bar? Maybe it's not syncing when tapping on the status bar, not sure how can I solve this...

[2021-01-30 18:54] andreialecu commented on #66
Oh, interesting. I didn't know it meant tapping the tab bar.

On iOS the native way to scroll to the top is by tapping the top status bar of the phone (where the time and battery are displayed)

Is likely easy to hook into and detect. I'll look into it tomorrow.

[2021-01-30 18:55] andreialecu commented on #66
Actually: https://reactnative.dev/docs/scrollview#onscrolltotop

[2021-01-30 19:15] PedroBern commented on #66
ok, perfect, should be easy to fix then 👍

[2021-01-30 23:02] #64 closed

[2021-01-30 23:02] #71 closed

[2021-01-30 23:17] #68 closed

[2021-01-30 23:17] #72 closed

[2021-01-31 09:30] andreialecu commented on #66
So actually I don't think the right fix is to handle that event.

The normal `onScroll` event is fired when scrolling to the top, but because the gesture is not started by `onBeginDrag`, `sync` ends up being false:

https://github.com/PedroBern/react-native-collapsible-tab-view/blob/49ef109ef547360368a8033b5e91be6205e2b55a/src/createCollapsibleTabs.tsx#L664-L667

[2021-01-31 11:50] alexpchin opened #77 "Indicator width on Scrollable Tabs"
@PedroBern There may be an issue with the Indicator on the scrollable after #75 It's like the Tabs are in the wrong order?

![simulator2](https://user-images.githubusercontent.com/40461/106382854-27ef6780-63ba-11eb-9ab8-7e0dc267bbc9.gif)

[2021-01-31 11:57] alexpchin opened #78 "CenteredEmptyList Example is Commented out"
Currently, the CenteredEmptyList example differs from the v2 example, as it doesn't take value for the current tab/index.
How come this was commented out? What issue was being faced?

<img width="462" alt="Screenshot 2021-01-31 at 11 58 40" src="https://user-images.githubusercontent.com/40461/106383082-b0223c80-63bb-11eb-953f-eabeca3bef9f.png">

[2021-01-31 12:05] PedroBern commented on #77
The tabs follow the refMap object keys order, and your screen components also should match this order. How are your refMap and screens arranged?

[2021-01-31 12:06] PedroBern commented on #78
It's not syncing correctly. We will probably need to add something like `visibleHeader` to the context, so we can interpolate with the current visible header height.

[2021-01-31 12:06] alexpchin commented on #38
@PedroBern Now with v3, this will scroll all tabs to the top FYI. We can DRY this implementation but just adding a note here for the moment.

[code]

[2021-01-31 12:37] PedroBern commented on #78
Actually, we just need to get the translateY value from the header. I will add this during the week, today I'm away.

[2021-01-31 17:41] alexpchin commented on #77
Hi @PedroBern

My `refMap` is:

[code]

With my `Tab.Container` code looking like:

[code]

This issue also appears in the example, displayed here: #79

[2021-01-31 17:43] alexpchin commented on #77
Actually, I've just checked the current example for scrollable tabs, actually, the issue is also present there without any changes.

[2021-01-31 17:55] alexpchin commented on #77
@PedroBern I've pushed what I think is a fix. I believe that we have to sort by `onTabItemLayout` by the `x` value as the order will be defined by the order that they are put on the screen, not their x position. After sorting I believe this is now working.

[2021-01-31 18:21] alexpchin commented on #73
@PedroBern I had to `--reset-cache` to make this go away I think?

[2021-02-01 00:44] alexpchin commented on #78
My version is actually working now.  #80

[2021-02-01 09:06] andreialecu opened #81 "Automated tests"
### Feature request

It would be great if a test suite could verify that everything is working properly. The interactions are pretty finicky and things can break in odd places by doing minor changes in others.

This would make the library much more maintainable and easier to refactor in the future, while giving more peace of mind to users that upgrades are safe.

Should be relatively easy to add g

[2021-02-01 11:13] tcorreiaubi commented on #52
Hey @PedroBern, just got back to it and it's working, not sure if you fixed something, but either way thanks for following up with the problem and the amazing job 👍

[2021-02-01 11:29] #66 closed

[2021-02-01 11:36] PedroBern commented on #77
Hey alex I would recommend getting the tab names like this:

[code]

Translating on the tab bar will prevent the whole thing to rerender if the user changes the idiom of the app.

[2021-02-01 11:37] #77 closed

[2021-02-01 11:52] PedroBern commented on #81
@andreialecu we really need this. It was an issue with v1 and v2 (#2) to pass a ref and initiate programmatically scrolling from the tests, but now it should be easy. I'm experienced with storybook, jest, and enzyme, but not with detox. I will be looking into it thought the week to see how to set up things.

❤️ 🚀

[2021-02-01 12:07] PedroBern commented on #73
I tried all kind of reset cache, including the metro bundler, but I still have the issue.

[2021-02-01 12:11] PedroBern commented on #73
[here is the explanation](https://github.com/software-mansion/react-native-reanimated/issues/1640#issuecomment-770686248)

[2021-02-01 13:37] PedroBern commented on #81
React navigation uses detox with circle. I will use it as an starting point.

[2021-02-01 14:13] sanbat opened #82 "TabBar Item Label style required"
### Feature request
Please provide an option for changing the Tab Bar Item Label Style.
In #64, you provided an option for changing the tab bar background, that is great.

But need an option to change the existing label style without using custom 'TabItemComponent' as you mentioned in #70.

Waiting for your valuable reply.

[2021-02-01 17:24] tcorreiaubi commented on #82
Hey @sanbat can you test #83 and see if it fits all your needs?

[2021-02-01 18:01] PedroBern commented on #82
@sanbat the only way at the moment is:

[code]

[2021-02-01 19:31] #78 closed

[2021-02-01 19:34] andreialecu commented on #73
While trying to test #58 in an actual app I've also ran into this. None of the reanimated rc versions worked (0, 1 or 2).

What did you do for a workaround @PedroBern? Commenting out the offending line is not something I can do in this project.

[2021-02-01 19:44] PedroBern commented on #73
@andreialecu I did nothing, kept the rc.0. I faced this issue only with rc.1 and rc.2. Are you using expo? [here](https://gist.github.com/jarretmoses/c2e4786fd342b3444f3bc6beff32098d) are some useful commands to clean all the cache I tried (just updated to yarn) without success.

But you are not supposed to have this issue if not using expo.

[2021-02-01 19:47] andreialecu commented on #73
I'm **not** using expo, on `rc.0` I'm getting a different error instead though:

[code]

Which seems to be reported here: https://github.com/software-mansion/react-native-reanimated/issues/1587

I cleared the caches using `--reset-cache`, without success.

[2021-02-01 19:49] andreialecu commented on #73
Oh, nevermind. After adding the babel plugin it works now (on rc.0, didn't try the others):

[code]

[2021-02-01 21:21] PedroBern commented on #81
Here is a nice article about adding detox: https://medium.com/@oriharel/how-i-learned-to-stop-worrying-and-love-merging-to-master-a7e2edc0924e

[2021-02-02 11:24] sanbat commented on #82
@PedroBern Not working...

[2021-02-02 12:08] sanbat commented on #82
@tcorreiaubi yes #83 is working(5eb7708)

I think it should be merged to this package. Thank you.

[2021-02-03 13:07] danielfein opened #88 "Tab Screen is showing up blank"
### Current behavior

Currently I have 4 screens and set them each to have a width of the window. Despite this, when swiping from one to the other the next screen is visible but then when you get to the point of the index changing, it disappears. If you click to another tab the same thing happens, it's just blank.

### Expected behaviour

I would expect to see the relevant screen on both swipe and

[2021-02-03 13:15] danielfein commented on #88
Interesting, by removing onIndexChange this worked. Any idea why?

[2021-02-03 13:20] danielfein opened #89 "Header not scrollable"
### Current behavior

Currently when I scroll on the header it doesn't move the position, despite adding pointer events.

### Expected behaviour

Would expect it to scroll

### Code sample

[code]

### Screenshots (if applicable)

N/A, just imagine a header trying to be scrolled and not going anywhere

### What have you tried

I've tried adding the relevant pointer-events

[2021-02-03 15:15] tcorreiaubi opened #92 "Children Flatlist with horizontal direction not working"
### Current behavior

Configuring a flatlist with horizontal direction on a Tab.ScrollView is not working as expected, the content is being displayed vertically instead of horizontally

### Expected behaviour

The Content to be displayed in the horizontal direction

### Code sample

https://github.com/tcorreiaubi/CollapsibleTabViewsDemo

### Screenshots (if applicable)

### What have you tried

[2021-02-03 16:38] PedroBern commented on #88
@danielfein try wrapping the container into useMemo, see the onIndexChange example of the examples folder and let me know. Also your setIndex won't work because it receives an object, not the current index, see the readme.

[2021-02-03 16:41] PedroBern commented on #89
Probably the `TouchableOpacity ` is becoming the target of the touch event. Can you scroll if you remove it?

[2021-02-03 20:14] danielfein commented on #89
Ah that worked, removed them all and was able to find a little real estate to scroll with. What have you seen as best practice for having touchable components but scrollable headers? (Also, thanks a lot for maintaining this so actively, it seems really promising and I'm excited to use it!)

[2021-02-03 20:38] danielfein opened #94 "Conditionally showing tabs after first render"
Hi been a bit active on this repo today, hoping this is my last question (and thanks for the support so far).

I'm trying to conditionally set my ref map but it doesn't seem to like updates. Basically I'm trying to load pages that may or may not have content for the various pages, and if there's no content I don't want to show them.

Here's where I'm starting:

[code]

Simple example of what I was

[2021-02-03 20:45] PedroBern commented on #94
@danielfein you are right, it does not like updates 😝  It will probably be possible with #93.

[2021-02-04 00:05] PedroBern commented on #89
Keep them small as possible! 😄

Or try using touchables from https://docs.swmansion.com/react-native-gesture-handler/docs/component-touchables.

Or maybe just stop capturing on move (https://reactnative.dev/docs/panresponder).

I didn't try. If you find a better answer please let know!

You are welcome!

[2021-02-04 00:05] PedroBern commented on #89
I'm closing

[2021-02-04 00:05] #89 closed

[2021-02-04 01:18] danielfein opened #95 "Leaving some of the header at the top"
Well, last question for today, is there any way to have some sort of header when the tab bar gets sticky? So if on scroll the header disappears and the title of the page is now out of sight, is there any place for some replacement title/part of the header to exist?

I can't figure out where it would go given the header is included in the component itself. This isn't a problem in the Example gifs w

[2021-02-04 10:08] tcorreiaubi commented on #95
I believe #85 covers your needs @danielfein

[2021-02-04 11:15] tcorreiaubi commented on #92
@PedroBern Hey, sorry to bother, im a bit stuck on this one, not sure if this is caused because of the tabs being wrapped on a flatlist with horizontal direction

[2021-02-04 11:16] #82 closed

[2021-02-04 11:21] PedroBern commented on #92
No worries :)

Yes maybe, I'm not sure, didn't have the time to test. Try to add nestedScrollEnabled={true}

[2021-02-04 11:24] tcorreiaubi commented on #92
Just tested it, not working, I think the issue is related to the width that's forced to the ScrollView,
[code]

[code]

[2021-02-04 11:36] tcorreiaubi commented on #92
Didn't work, strange enough, if I use a scrollview instead of a flatlist as child the content is displayed correctly, im confused

[2021-02-04 11:49] andreialecu commented on #88
I can confirm this as well. Going to try to find a solution as part of #93

[2021-02-04 12:26] andreialecu commented on #88
@PedroBern the problem is related to this:
https://docs.swmansion.com/react-native-reanimated/docs/api/useSharedValue/#arguments

`shouldRebuild` defaults to `true`, and the tab container re-renders when the event gets triggered, which in turn resets all shared values to their initial state, including this one:
https://github.com/PedroBern/react-native-collapsible-tab-view/blob/fe4ac3c53f4bc2cefd0

[2021-02-04 12:41] andreialecu commented on #88
@PedroBern This part is also problematic:

https://github.com/PedroBern/react-native-collapsible-tab-view/blob/fe4ac3c53f4bc2cefd0580a3e82903bd1b9bd7a4/src/createCollapsibleTabs.tsx#L240-L243

It takes control of the scroll mid-way and auto-snaps the page, I could attach a video but it should be easy to reproduce.

Removing it entirely doesn't seem to cause any issues that I can see. What was the

[2021-02-04 15:10] tcorreiaubi commented on #92
I was able to get it working by disabling the scroll on the pagerProps and rendering a Tabs.Flatlist instead of scrollview and also passing the content as the prop ListEmptyComponent, feels kinda hacky, but I believe the issue is related with nesting a flatlist in the same direction, Tabs.container(aka horizontal flatlist) > Tabs.ScrollView/Tabs.Flatlist(vertical) > View > Flatlist horizontal
Ther

[2021-02-04 15:43] ckyte31 opened #96 "Error: Element type is invalid - TabItem"
### Current behavior

Getting the following error while trying to use Tabs.Container on iOS:

Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports.

Check the render method of `TabIte

[2021-02-04 15:57] PedroBern commented on #88
@andreialecu has only one purpose: fix the screen/page position when switching the device orientation (when the `windowWidth` is updated).

Below is an ilustration of the issue. Forcing the container to jump to the correct index was the quickest solution. I'm sure we can solve this with a different approach.

Also, I'm sure adding `index.value` to the deps array was a mistake.

[code]

[2021-02-04 17:12] PedroBern commented on #88
Demo from above:

![WhatsApp Image 2021-02-04 at 14 10 58](https://user-images.githubusercontent.com/39778068/106929319-fd234d00-66f2-11eb-8fd7-8f67b9dbdc66.jpeg)
![WhatsApp Image 2021-02-04 at 14 10 57](https://user-images.githubusercontent.com/39778068/106929324-fe547a00-66f2-11eb-8b33-f2491c0eaf54.jpeg)

[2021-02-04 17:40] #5 closed

[2021-02-04 17:40] #95 closed

[2021-02-04 20:39] alexco2 opened #97 "Support for Sectionlist"
Hello, first of all, amazing package. This is something the rn community definetly needs! One question though. Do you plan to support Sectionlist, or is there a way to make it work with sectionlist?

[2021-02-05 10:11] tcorreiaubi opened #98 "Force a tab to start at a certain scroll position"
Hey(once again), I was trying to force a tab to always start at a certain scroll position, this is a really specific behavior, what I tried to do was on the indexChange call the scrollTo on that tab to place it on the position where I need, example
[code]

This works great for the current tab but the others tab don't sync their position properly, should I call another function or just update some

[2021-02-06 12:24] andreialecu commented on #98
This should be fixed by #93, and #99 also makes it simpler.

[2021-02-06 12:26] andreialecu commented on #97
The refactoring made as part of #93 should make this very easy to add.

[2021-02-08 04:16] alexpchin opened #100 "Strange issue with indicator appearing under wrong tab"
I'm still trying to work out exactly the scenario that this happens in, but sometimes the indicator shows underneath the wrong tab.

![image](https://user-images.githubusercontent.com/40461/107175316-6e4d5380-69c4-11eb-9811-b3ffc7f514ef.jpeg)

[2021-02-08 10:24] tcorreiaubi commented on #98
@andreialecu Hey, nice to know, while trying to debug it I noticed that this only occurs if snap is enabled

[2021-02-08 23:05] PedroBern commented on #100
🎉  issue #100 🎉

@alexpchin this is probably fixed in #93

[2021-02-09 18:00] #88 closed

[2021-02-09 18:00] #94 closed

[2021-02-09 18:00] #98 closed

[2021-02-09 18:00] #100 closed

[2021-02-09 18:14] PedroBern commented on #70
closes by #93

[2021-02-09 18:14] #70 closed

[2021-02-09 18:32] alexpchin opened #101 "[Object Map Iterator] in Tabs"
Hi @PedroBern @andreialecu

When upgrading to `4.0.0-next.0` and running the basic version in a react-native application (not expo) as per:

[code]

I see [Object Map Iterator], where the tabs are meant to be:

<imc src="https://user-images.githubusercontent.com/40461/107409517-2fbeb280-6b04-11eb-8d0e-8354d9bc75a2.png" width="300px" />

I also see:

<imc src="https://user-images.githubusercontent.

[2021-02-09 22:39] danielfein opened #102 "Conditionally rendered <Tabs.Tab> component showing null is not an object"
### Current behavior

Hi I'm using RC 0 and found that conditionally rendering tabs _almost_ works. The below code is the closest I'm getting to rendering _something_ conditionally.

Basically, I believe Container is expecting that 100% of the components children are Tabs.Tab. In reality, when conditionally rendering something, it still seems to be trying to use that child. For instance, I simplif

[2021-02-10 01:06] dougkeen commented on #96
I think this is because `TabItem` internally uses `Pressable`, which is only available since RN 0.63.

[2021-02-10 03:46] danielfein opened #104 "Not all tabs are accounting for the moving header"
### Current behavior

Currently if you are on Tab A (the first tab) and you scroll (and the header moves), and then move to Tab B, there will be some white space between the tab bar and the top of the content. This is likely due to only the active tab's content being shifted, as the other tabs (Tab B, C, etc.) remain in their initial spawn locations.

Then, if you tap on Tab B, C, etc. it will fix

[2021-02-10 09:25] tcorreiaubi opened #105 "Typescript types"
### Current behavior

I noticed that the types are being placed in the "wrong" folder I believe, previously they were placed at lib/typescript, but at the moment they are at lib/typescript/src and this breaks for example vscode integration with TS

### Expected behaviour

### Code sample

For Syntax Highlighting check this [link](https://help.github.com/en/articles/creating-and-highlighting-code-b

[2021-02-10 09:45] andreialecu commented on #104
1) Is this using `next`/`rc.0`?
2) iOS or Android?
3) What settings are you using for the Container?
4) If you scroll any of the broken tabs does the header snap back into place?

[2021-02-10 10:26] andreialecu commented on #101
I created a bare rn app here and cannot reproduce this:
https://github.com/andreialecu/rnctv-react-native-bare-test

![simulator_screenshot_D86B66F8-CBB1-42F3-AD25-EAAD071BC2D9](https://user-images.githubusercontent.com/697707/107497243-ff762300-6b9a-11eb-8ea4-93f815c456a5.png)

What might be different between the bare repro above and yours?

[2021-02-10 11:22] alexpchin opened #109 "When `scrollEnabled` indicator does not show"
Continuing with these really strange bugs... when `scrollEnabled` is enabled on Tabs.MaterialTabBar, the indicator isn't showing up.

[code]

With scrollEnabled:

<img src="https://user-images.githubusercontent.com/40461/107503099-71496f00-6b91-11eb-8814-10243c1dad24.png" width="200px" />

Without scrollEnabled:

<img src="https://user-images.githubusercontent.com/40461/107503260-a5249480-6b91-11e

[2021-02-10 11:33] alexpchin opened #110 "Very small movement in header on iOS"
When you pull down, and the content snaps back to the top for the first time, it moves the header upwards by about 1 or 2 px.  The next time you pull down, the header moves very slightly.

Using `snapThreshold` of 0.5. Please see the video.

[simulator1.mov.zip](https://github.com/PedroBern/react-native-collapsible-tab-view/files/5957838/simulator1.mov.zip)

[2021-02-10 12:10] #102 closed

[2021-02-10 12:10] #105 closed

[2021-02-10 12:22] alexpchin commented on #101
I also do this in PR #101 and it also seemed to be ok for me, I'm trying to get to the bottom of the problem. It's strange because it happens on a screen in that just implements the QuickStart example. I will fork your repo and perhaps add the packages that I am using and update this issue if I find anything.

[2021-02-10 12:29] alexpchin commented on #109
@andreialecu I have pushed an example of this to your bare repo `https://github.com/andreialecu/rnctv-react-native-bare-test/pull/1`

[2021-02-10 13:01] andreialecu commented on #101
Might be related to babel. Do you use any other babel (or metro) plugins?

[2021-02-10 13:07] andreialecu commented on #110
This is actually on purpose because of a weird interaction between the wrapper horizontal scrolling container (tab switcher) and the inner vertical ScrollView.

If the inner scrollview rests at the top (y === 0), you will not be able to pull to refresh.

So we can't allow it to go to 0, but to `y: 1` instead.

Try changing this line:
https://github.com/PedroBern/react-native-collapsible-tab-view/b

[2021-02-10 13:14] andreialecu commented on #109
![simulator_screenshot_284E50C1-0DA1-431B-8479-C8F465C7D45B](https://user-images.githubusercontent.com/697707/107514632-98646880-6bb2-11eb-874f-bdb4d68898ca.png)

I checked out your PR and I can see the indicator. What am I missing?

[2021-02-10 13:25] #20 closed

[2021-02-10 13:32] andreialecu commented on #110
I did some brief testing and the changing that seems to work.

If you confirm, we can merge #112

[2021-02-10 13:36] danielfein commented on #104
Good questions sorry @andreialecu , should have specified:

This is `rc.0` on iOS.

This is my Container:

[code]

HeaderHeight above is set onLayout of another component, lands at 400 and doesn't move after that but it's not known until after render.

Right now I'm noticing it's not collapsing the header anymore, and the line under the tab's name is not shifted to the active tab (probably 2 separ

[2021-02-10 14:06] andreialecu commented on #104
Which version of reanimated are you using?

[2021-02-10 14:13] andreialecu commented on #101
@alexpchin I just realised on the bare rn app that using `2.0.0-rc.3` of `reanimated` breaks pretty much everything. Please try going back to `rc.0` and testing things with that version.

Expo only supports `rc.0` and I think @PedroBern wants to mainly follow Expo support.

[2021-02-10 14:16] alexpchin commented on #109
@andreialecu Sorry for the delay... When I run that PR, I currently see:

<img src="https://user-images.githubusercontent.com/40461/107519702-79f96f80-6ba8-11eb-889f-c30935e0095f.png" width="200px" />

I'm running iPhone 11 iOS 14.4.

[2021-02-10 14:23] alexpchin commented on #110
@andreialecu I'll check now!

[2021-02-10 16:09] alexpchin commented on #101
Hi @andreialecu I've found out what the problem is, I think last night @PedroBern released the latest version as "4.0.0-next.0", in my package JSON. (Please see the original issue post?) I copied from the Release Tags very soon after he had pushed, so I think `4.0.0-next.0` changed to `4.0.0-rc.0`?

[code]

I have now changed to:

[code]

Sorry! Really strange how that change I made to hooks seeme

[2021-02-10 16:09] #101 closed

[2021-02-10 16:38] alexpchin opened #113 "Content showing below header until move"
On initial load, the content shows below the header.

![Screenshot 2021-02-10 at 16 13 05](https://user-images.githubusercontent.com/40461/107540410-ec287f00-6bbd-11eb-99e8-c02424a73a54.png)

After scrolling, the content then moves to the correct place. @andreialecu Does this happen on the updated PR for you too? https://github.com/andreialecu/rnctv-react-native-bare-test/pull/1 I am concerned as

[2021-02-10 17:07] andreialecu commented on #113
I can repro this one. Checking.

[2021-02-10 17:10] danielfein commented on #104
I can confirm both the scroll and the line under the active tab issues were fixed wheng oing from `2.0.0-rc.2` to `2.0.0-rc.0`.

Still seeing the issue with the FlatLists though.

[2021-02-10 17:18] andreialecu commented on #113
@alexpchin can you do me a favor and pull the change I made to the PR and tell me if you can also see this extra space between the tab bar and the albums when scrolling down?

![simulator_screenshot_9D5DA805-AFF5-4327-B30B-12A7EFED4A9C](https://user-images.githubusercontent.com/697707/107546171-be026980-6bd4-11eb-8dd6-506fe5561898.png)

[2021-02-10 17:27] alexpchin commented on #110
I've made the change locally as per #112 In the v3 version, there was no movement at all - it still seems to have a very small

[2021-02-10 17:31] alexpchin commented on #113
@andreialecu Yes, I also see that after I have scrolled down.

[2021-02-10 17:34] alexpchin commented on #113
Also... I've just noticed, I can see the indicator too.

<img src="https://user-images.githubusercontent.com/40461/107548086-23029300-6bc6-11eb-97fa-5dd45dcf2940.png" width="400px" />

[2021-02-10 17:40] andreialecu commented on #113
I found what the problem is, will open a PR shortly. Seems to be a difference between Expo and bare RN.

More specifically it seems that `automaticallyAdjustContentInsets` needs to be set to `false` on the inner scroll view.

This resolves the main issue you're seeing. Will open a PR shortly after testing it further.

[2021-02-10 17:44] andreialecu commented on #113
If you manually edit this file in `node_modules`, as per the screenshot below, this should work:

<img width="755" alt="Screenshot 2021-02-10 at 19 43 34" src="https://user-images.githubusercontent.com/697707/107549251-46363e00-6bd8-11eb-94c7-9bd13a93fa22.png">

[2021-02-10 17:45] #113 closed

[2021-02-10 17:50] andreialecu commented on #113
Here's a build containing all recent fixes, until rc.1 is released (should be later today):

[react-native-collapsible-tab-view-v4.0.0-rc.1.tgz.zip](https://github.com/PedroBern/react-native-collapsible-tab-view/files/5960276/react-native-collapsible-tab-view-v4.0.0-rc.1.tgz.zip)

[2021-02-10 18:18] #104 closed

[2021-02-10 18:23] andreialecu commented on #104
@danielfein try `4.0.0-rc.2`

[2021-02-10 18:23] andreialecu commented on #113
@alexpchin try `4.0.0-rc.2`

[2021-02-10 18:24] alexpchin commented on #113
Thanks! @andreialecu

[2021-02-10 20:30] alexpchin commented on #109
@andreialecu Just FYI after updating to `4.0.0-rc.2` I'm still not seeing the indicator.

[2021-02-10 20:37] andreialecu commented on #109
I still can't reproduce it. If you figure it out please open a PR.

[2021-02-10 22:33] alexpchin commented on #109
Ok... If I change directly from `lib/module/MaterialTabBar/TabBar.js`:

[code]

To:

[code]

Then I can see the indicator appearing on the far right...

<img src="https://user-images.githubusercontent.com/40461/107579453-13e30b80-6bed-11eb-8506-ca454e028cb5.png"
 width="400px" />

[2021-02-10 22:37] danielfein opened #116 "Loading component between tab activated and fade in"
Even before the feature request I feel obligated to just commend the work of @PedroBern, @andreialecu , and @alexpchin. I'm using `rc 2` and it's fantastic. Now with conditional rendering of tabs this is a really great package. Great work to you both!

### Feature request

The ability to set a component to show on-click of an inactive Lazy tab, before the fade starts.

### Current behavior

On-cli

[2021-02-10 22:45] danielfein opened #117 "How to shrink header instead of just moving it up?"
I'm currently using this package to display your standard profile header and on-scroll the header shifts up and out of screen until it reaches its minimum header height. This is really nice, but I would like to take it to the next level. Instead of the header moving out of screen, I would like to animate its height as the entire thing moves. This is a fairly common pattern and typically looks like

[2021-02-10 22:58] alexpchin commented on #117
@danielfein I might be remembering wrong but believe the original version of this package that @PedroBern put together had something similar that got removed. Have you seen:

- https://www.youtube.com/watch?v=pNw8lPdD4H4
- https://github.com/wcandillon/can-it-be-done-in-react-native/tree/master/season2/spotify-header
- https://github.com/netguru/sticky-parallax-header

What exactly do you want to

[2021-02-10 23:09] alexpchin commented on #116
I also feel obligated to say that I've hardly contributed... apart from perhaps throwing problems over to @PedroBern and @andreialecu 🤦🏻‍♂️ Lol

[2021-02-10 23:37] alexpchin opened #119 "On first load content shifts down (adjust is visible)"
When first loading a page with tabs, the tab content shifts down. This doesn't happen after page load or on refresh. See video.

Running in a bare app, on iOS simulator using version `4.0.0-rc.2`.

[simulator1.mov.zip](https://github.com/PedroBern/react-native-collapsible-tab-view/files/5962342/simulator1.mov.zip)

[2021-02-11 01:30] PedroBern commented on #117
@danielfein it can be achieved by interpolating the `translateY` from any absolute positioned element inside the header with the `scrollYCurrent` or `accDiffClamp` from the context.  I will try to add an example soon.

Basically everything that @alexpchin said can be done this way.

[2021-02-11 01:45] PedroBern commented on #116
@danielfein thanks 🎉  @alexpchin Lol keep coming with the issues, worst case scenario we will solve them 👍

Eventually, we will allow passing a placeholder component to the `Tabs.Container`. Should be really easy to add it to the package, if you want to come up with something, PRs are welcome 🙌

Basically, we just need to render the placeholder inside the empty scrollview of the `Lazy`. But, there

[2021-02-11 09:37] andreialecu commented on #119
#120 may help with this, but not sure.

If you have a repro that would also be great.

[2021-02-11 09:39] #109 closed

[2021-02-11 13:14] andreialecu commented on #116
We discussed this a bit and I think that if this were to be implemented in the package, it wouldn't be really be flexible enough.

Luckily though, implementing this on the application end of things should be extremely easy once #121 lands.

Do **not** use `lazy`, but instead hook into `useFocusedTab()`.

Your component can then just detect if it's focused and start its loading then. You can also c

[2021-02-11 15:19] ckyte31 commented on #96
Bit of effort to upgrade my RN version to 0.63.3 but this did the trick. Thanks!!

[2021-02-11 19:47] #96 closed

[2021-02-11 19:49] danielfein commented on #119
I'm also seeing this, now with `rc.3`. It seems to be when navigating from screen to screen where they're both implementing the same components with different content.

There's also a lot of flashing as the component seems to be trying to load the Tab even before the Header, and then it sort of gets confused with what is and isn't on screen. I have this structure:
[code]
and the FlatList component

[2021-02-11 23:40] PedroBern commented on #119
@danielfein a repro would be helpful

[2021-02-12 01:07] alexpchin opened #122 "PullToRefresh Above Header or Below Header"
V3 of the library by default showed the PullToRefresh above the header whereas v4 shows it below. It would be good to be able to have a prop to change this behaviour. I guess this could be implemented similar to the idea of a shared PullToRefresh.

Instagram Style (above):

<img src="https://user-images.githubusercontent.com/40461/107717993-cdfd7480-6ccc-11eb-86f3-cf87d96040d4.jpeg" width=400px" /

[2021-02-12 01:33] alexpchin commented on #119
I've made a PR on @andreialecu's bare repo trying show some of the odd behaviour. It's not 100% there as I haven't found out what is causing the initiall movement but you can see some other quirks?

https://github.com/andreialecu/rnctv-react-native-bare-test/pull/2

It might be relatede to react-navigation?

[2021-02-12 12:40] alexpchin commented on #38
In the latest v4 version, if you use https://reactnavigation.org/docs/use-scroll-to-top/

[code]

Then the page will scroll up so that the Tab is at the top of the screen rather than scrolling Down to reset the page so that the header is at the top of the screen.

E.g: From

<img src="https://user-images.githubusercontent.com/40461/107767307-b0f88e00-6d2c-11eb-837b-cdd44fdc52f2.png" width="400px"

[2021-02-12 12:46] PedroBern commented on #117
@danielfein checkout https://github.com/PedroBern/react-native-collapsible-tab-view/pull/121/commits/4b160c55f8c285823b23f7e53bb60179cfad8d45

[2021-02-12 18:25] alexpchin commented on #119
@danielfein Are you able to pull my PR with the repro and see if it's the same issue you are facing?

[2021-02-13 00:19] alexpchin opened #123 "Sometimes you are unable to click"
### Current behavior

Currently, sometimes after scrolling a Tab.FlatList you are unable to click on one of the rendered items (if they are a touchable). This doesn't happen all of the time but sometimes it does.

### Expected behaviour

I would expect that after scrolling, all items that are clickable are able to be clicked.

[2021-02-13 08:20] alexpchin commented on #119
@PedroBern @andreialecu In order to help further, I have created a PR (not intended to be merged of course) just to check what happens on Expo when you add react-navigation and whether you also get the same issue with the content moving around on the first load. However, it seems like it's not happening the same on expo (not as jittery).

However, there are some other problems:

- [ ] Only when no

[2021-02-13 08:48] andreialecu commented on #119
@alexpchin I'm going to take a look at this. I have an idea why it may happen. The gap seems equal to the header height, so it's a content inset issue.

Please join https://discord.gg/YTN3N8Hq if you'd like to coordinate in more real time on this. It was created for this project, but hasn't been added to the readme yet.

[2021-02-13 09:27] alexpchin commented on #119
This is resolved by `https://github.com/PedroBern/react-native-collapsible-tab-view/commit/040e5c8b6a997dfc460ebb7ffd2a5c0b72f5d78c`

[2021-02-14 14:42] alexpchin commented on #119
`rc.5` fixes this issue.

[2021-02-14 14:42] #119 closed

[2021-02-14 14:43] alexpchin commented on #110
I'm now not seeing this anymore since upgrading > rc.2. I will close.

[2021-02-14 14:43] #110 closed

[2021-02-14 14:50] alexpchin opened #128 "Issue with tab scrolling to 0 and removing RefreshControl"
When pulling to refresh tabs on iOS,  sometimes the tabs scrollTo 0 and then remove the refresh control. As per this video:

[video0.mp4.zip](https://github.com/PedroBern/react-native-collapsible-tab-view/files/5977919/video0.mp4.zip)

This issue is created by:

[code]

Removing it (pushed in `rc.6`) does seem to resolve the issue. However, @andreialecu says that there is still a problem occuring

[2021-02-14 15:03] alexpchin opened #129 "When `headerHeight` is added and no `HeaderComponent` is added, sometimes the Tab Content doesn't show"
I have a page that uses Tabs but sometimes has a Header and sometimes doesn't. When no `headerHeight` is added and no `HeaderComponent` is added, sometimes the content doesn't render in the tab.

I don't believe this happens if I add a `headerHeight`, even of 1. Please see video.

(In a bare app).

[simulator.mov.zip](https://github.com/PedroBern/react-native-collapsible-tab-view/files/5977937/sim

[2021-02-14 15:43] alexpchin opened #130 "When setting state in `onTabChange` the indicator isn't smooth"
When you change tabs and have some code that sets some state in `onTabChange` the Indicator movement isn't smooth. Please see video.

[simulator8.mov.zip](https://github.com/PedroBern/react-native-collapsible-tab-view/files/5977995/simulator8.mov.zip)

This can be avoided by memoizing the tabs, e.g

[code]

And rendering just.

[code]

It may be a good idea to make a note of this in the Readme som

[2021-02-15 09:39] alexpchin commented on #123
I think this was resolved either in `rc.5` or `rc.6`. Closing for now.

[2021-02-15 11:41] andreialecu commented on #130
This should be fixed by #131, but please confirm.

[2021-02-15 11:46] #129 closed

[2021-02-16 02:11] danielfein opened #133 "Header flashes when new Tabs are created"
### Current behavior

I'm conditionally rendering new Tabs and when some are created after API calls return they're causing the entire component to flash.

### Expected behaviour

New Tabs should be created without a re-render of the entire component, the component should in-place just re-render only the parts that are necessary rather than the entire component (e.g. the Header shouldn't be re-ren

[2021-02-16 08:50] alexpchin commented on #130
I'm still seeing that the indicator isn't as smooth unless you use `useMemo`?

[2021-02-16 09:25] andreialecu commented on #130
When I tested it on my simulator (M1 Mac Mini) I wasn't really able to notice the jumping. It was still extremely smooth. That's likely because the emulator and the CPU architecture are both `arm64` so there are no bottlenecks. It basically all runs native.

I mainly had to confirm this issue via some logging I added.

Did you verify if this occurs on a real device?

[2021-02-16 09:39] #130 closed

[2021-02-16 09:40] andreialecu commented on #130
I added memoization just in case, released as `rc9`

[2021-02-17 05:58] jishuxx opened #135 "Two scroll on header questions"
Hello, thank you very much for providing such a good component. I am very interested in the Scroll On Header component of this component. At present, I have found the following two problems with this function:
1. Sliding sideways in the Header will synchronize sliding, resulting in TAB switching;
2. If there are Horizontal slip images inside the Header area and the contents need to Scroll left and

[2021-02-17 12:46] abelmenkveld commented on #123
Hi @alexpchin could you please reopen this issue? I'm still encountering this issue running rc.9. It happens in both Tab.FlatList and Tab.ScrollView on iOS. The behavior is very specific: when a scroll action/animation hasn't finished yet and you scroll again, the content isn't clickable anymore. It becomes clickable again only when you scroll to the top or bottom of the list or view. See the vide

[2021-02-17 13:09] abelmenkveld opened #136 "Sticky headers don't show correctly in Tabs.FlatList on iOS"
First of all, great job on this component! v4 added some really nice and necessary features for us.

### Current behavior

When you use the stickyHeaderIndices prop on a FlatList, the sticky elements don't scroll up when the header collapses. This happens only on iOS.

### Expected behavior

The sticky headers should scroll along the content and only stick when the header is fully collapsed. An al

[2021-02-17 13:31] abelmenkveld opened #137 "Scroll to top when pressing on a tab should take the tab bar height into account [iOS]"
### Current behavior

When you click on a currently open tab for it to scroll to the top, some of the content gets hidden behind the tab bar. This only happens on iOS, on Android the entire header becomes visible.

### Expected behavior

There should be accounted for the height of the tab bar in the y offset when you press on a tab.

### Screenshots (if applicable)

https://user-images.githubuserc

[2021-02-17 13:39] alexpchin opened #138 "`ref.current?.setIndex(n)` causes header to hide"
When using `setIndex` the header hides on iOS. You can test by adding something like:

[code]

[2021-02-17 13:41] alexpchin commented on #137
Hi @abelmenkveld I'm not seeing this happen, are you testing this on Expo and on the example repository?

[2021-02-17 13:42] alexpchin commented on #136
https://github.com/PedroBern/react-native-collapsible-tab-view/issues/97

[2021-02-17 13:47] alexpchin commented on #138
I will add more details to this ticket. We should probably also add a check here:

[code]

To ensure that the `index` is a valid one.

[2021-02-17 14:02] andreialecu commented on #123
@abelmenkveld

I cannot reproduce this. Here's the diff I tested with:

[code]

[2021-02-17 14:05] andreialecu commented on #138
This does not reproduce in the Example app's "Ref example jumpToTab after 1 second" (which does the same thing).

A more detailed repro would help.

[2021-02-17 14:11] abelmenkveld commented on #123
Thanks for getting back this quickly. Thanks to your diff I tried importing TouchableOpacity from react-native-gesture-handler instead of from react-native. This fixes the issue.

[2021-02-17 14:34] #137 closed

[2021-02-17 14:34] andreialecu commented on #137
Fixed in `rc.10`.

[2021-02-17 14:48] andreialecu commented on #136
This seems like a side effect of using `contentInset` for content positioning.

`contentInset` is required so that the refresh control can be positioned underneath the header.

Unfortunately there's no other way on iOS to position the refresh control at the moment. There's a PR on it here: https://github.com/facebook/react-native/pull/30737

If that PR is merged to React Native we'll have a way ar

[2021-02-17 15:33] abelmenkveld commented on #136
Thank you for the clarification. That also explains why giving a ScrollView container top padding was only working on iOS and causing issues on Android ;). I don't use the refresh control but do like to have the iOS bounce effect below the header

[2021-02-17 18:50] alexpchin commented on #123
I'm actually still seeing this issue sometimes in my app, I'm going to re-open

[2021-02-17 20:00] andreialecu commented on #123
Reopened. But there is nothing in the code that can explicitly prevent touches on elements. If this happens it seems like an upstream bug.

[2021-02-17 20:39] alexpchin commented on #123
What do you mean upstream bug?

[2021-02-17 20:45] alexpchin commented on #123
I think this is happening when you tap whilst the list is moving. So scroll and whilst it's scrolling tap and then tap something.

[2021-02-17 21:42] andreialecu commented on #123
I mean either a react native or some weird reanimated bug. Without a repro I can't tell though either way.

[2021-02-17 22:11] alexpchin commented on #123
I'll try to find the steps to reproduce so you can replicate. Initially try scrolling and then tapping (on a device) whilst the scroll is still happening.

[2021-02-17 22:35] andreialecu commented on #123
Did you try this solution? https://github.com/PedroBern/react-native-collapsible-tab-view/issues/123#issuecomment-780582754

[2021-02-18 08:50] alexpchin commented on #123
Hi @andreialecu I've pushed an example here: https://github.com/andreialecu/rnctv-react-native-bare-test/pull/2 Please see if you can reproduce the error.

I just cycled through the various components to compare:

[code]

It seems that there is an issue with `TouchableOpacity`, `TouchableWithoutFeedback` and `Pressable` from React Native but not with `TouchableOpacity` from `react-native-gesture-h

[2021-02-18 09:13] alexpchin commented on #138
Hi @andreialecu I've added:

[code]

To this PR https://github.com/andreialecu/rnctv-react-native-bare-test/pull/2 Please tell me if you can reproduce.

[2021-02-18 09:18] alexpchin commented on #138
I can also confirm this happens on the example app when using `setIndex(0)`

[2021-02-18 09:32] andreialecu commented on #138
I see.

This only happens if the `index` is already the same as the one being set to. It's essentially the same as clicking on the tab bar for the same tab pane.

To clarify, if you increase the timeout to 2500 in your repro and move to index 1 before it sets 0, you'll see that it doesn't hide the header.

I'm not sure if I'd call it a feature or a bug. 🤔

[2021-02-18 09:35] andreialecu commented on #138
To clarify, you can work around it via:

[code]

[2021-02-18 09:54] #123 closed

[2021-02-18 09:59] andreialecu commented on #123
Fixed in `rc.11`. This seems like a react-native bug of some sort because of scrolling inside `onBeginDrag` (in order to stop scrolling, see: ). Removed it for now.

[2021-02-18 11:04] alexpchin commented on #138
Thanks for the clarification @andreialecu

[2021-02-18 11:04] #138 closed

[2021-02-18 11:36] andreialecu commented on #97
This will actually not be easily possible to do on iOS because of issues described in this comment: https://github.com/PedroBern/react-native-collapsible-tab-view/issues/136#issuecomment-780606731

[2021-02-18 12:05] andreialecu commented on #133
The opacity fade in is by design, because otherwise the scroll position would zap around in certain cases, so the fading is added to obscure that.

The header shouldn't flash though. Is this still a problem in recent `rc`s?

[2021-02-18 15:55] sanduluca opened #139 "[Typescript] Could not find a declaration file for module 'react-native-collapsible-tab-view'"
I get this Typescript error and have no idea how to solve it. There is not `@types/react-native-collapsible-tab-view`. I see that package is written on Typescript, but I get this error. What is wrong ? How should I solve it ?
[code]

[2021-02-18 16:07] andreialecu commented on #139
Make sure to install `react-native-collapsible-tab-view@next`. The current stable version on npm will be deprecated soon.

[2021-02-18 16:37] sanduluca commented on #139
Thank for your quick reply. I updated the package to next version and replace the default example, but now I get this error
![image](https://user-images.githubusercontent.com/56228534/108389455-5b365100-7218-11eb-8b7b-48bf7fc8d884.png)

[2021-02-18 17:28] sanduluca opened #140 "Is posibble scroll on tab like `scroll-on-header` ?"
I read [scroll-on-header](https://github.com/PedroBern/react-native-collapsible-tab-view/tree/v4.0.0-rc.11#scroll-on-header) block and want to say that this is a great possibility, but I **want to ask if there is a way to make possible scroll-on-tab-item** ?
I am looking forward of creating an exact experience like Instagram profile screen(a Header, few tabs, very smooth and great scroll experienc

[2021-02-18 21:46] #116 closed

[2021-02-18 21:46] #117 closed

[2021-02-19 06:03] danielfein commented on #133
You legend! Fixed in `4.0.0` thank you and congrats on the release!

[2021-02-19 12:06] PedroBern commented on #140
Hi @sanduluca maybe it's possible with touchables from the [gesture-handler](https://github.com/software-mansion/react-native-gesture-handler), you will need to build your own tab bar. Please if you do, share it here, it's a nice feature.

[2021-02-19 12:09] PedroBern commented on #135
Hi @jishuxx  try [gesture handler](https://github.com/software-mansion/react-native-gesture-handler) components and let me know :)

[2021-02-19 12:10] PedroBern commented on #139
@sanduluca do you get this on v4?

[2021-02-19 12:52] sanduluca commented on #139
Yes.
[code]

[2021-02-19 13:14] sanduluca commented on #140
Thanks for your reply. Definitely will try to implement it and will come back with a merge request.

[2021-02-19 14:15] andreialecu commented on #139
@sanduluca what version on `@types/react-native` do you have installed?

I had to revert to `"@types/react-native": "^0.62.0",` in a project due to a similar error. I think something is broken in recent typing versions.

[2021-02-19 14:18] sanduluca commented on #139
[code]

[2021-02-19 14:19] andreialecu commented on #139
Try changing it to the one I mentioned in the comment above and run an install again, and see if it helps (reload VSCode afterwards to make sure)

[2021-02-19 14:21] andreialecu commented on #139
Here's a report of the same kind of issue, from a different library: https://github.com/callstack/react-native-paper/issues/2442

[2021-02-19 14:58] sanduluca commented on #139
I've tried patch `0.62.0` and there is no error anymore.
Decided to find out from what patch an error will be raised.
So from patch `0.63.41` (included) there are errors with react-native typings.

[2021-02-19 15:01] andreialecu commented on #139
It's been reported in other libraries:

https://github.com/callstack/react-native-paper/issues/2442

Seems it was broken here:

https://github.com/DefinitelyTyped/DefinitelyTyped/pull/49983

I'll close this since it's an upstream issue.

[2021-02-19 15:01] #139 closed

[2021-02-19 18:51] danielfein opened #141 "Conditionally rendered Lazy Tab doesn't load if it's the first one"
### Current behavior

This one is interesting, I'm conditionally rendering tabs and if you don't have a default non-Lazy tab, then it doesn't load the default (left most/0th index) Tab.

Basically, I don't know which Tab will end up being the first Tab so I can't easily choose for it to have Lazy or not. So I have them all (except the first one which would never need to be Lazy) as Lazy now.

###

[2021-02-19 21:01] PedroBern commented on #141
@danielfein you can use the `startMount` prop on the lazy.

[2021-02-21 23:39] danielfein commented on #141
King, that did it! Thank you!

[2021-02-21 23:39] #141 closed

[2021-02-23 15:54] alexpchin opened #142 "Tabs.FlatList data not re-rendering when `extraData` is provided"
### Current behavior

I'm optimistically modifying some data in:

[code]

However, the data doesn't seem to be re-rendering. If I modify the data in data then it works, e.g.

[code]

### Expected behaviour

I expect the list data to update when modified data is passed to `extraData`

[2021-02-23 20:18] alexpchin opened #143 "Infinite Scroll,`onMomentumScrollBegin`, `onEndReached`"
### Feature request

An infinite scroll example.

### Current behavior

I have a `Tab.FlatList` with an infinite load.  I was using an `onMomentumScrollBegin` to throttle a call to `onEndReached`. However, now `onMomentumScrollBegin` doesn't fire and I'm seeing  a recursive call happening.

[2021-02-23 21:37] alexpchin commented on #143
I may be wrong but I think we need to allow an `onScroll` to be passed?

[2021-02-24 01:03] alexpchin commented on #140
@sanduluca I have almost implemented this in my project. This issue is also related slightly to #122

[2021-02-24 15:48] danielfein opened #144 "Scrolling over a Touchable component"
Hi is it possible to set (considering the pointerEvents we need) a touchable opacity that could exist in the header as both a scrollable area (hitting it when attempting to scroll) as well as being an active button?

I can't seem to get buttons to work in my header. They exist in either active button states or scrollable, but not bother at the same time.

[2021-02-24 16:42] alexpchin opened #145 "Content jumping as you scroll down"
### Current behavior

As I'm scrolling down a `Tab.FlatList`, I'm seeing small content adjustments happening. Please see the attached video.

[simulator1.mov.zip](https://github.com/PedroBern/react-native-collapsible-tab-view/files/6037367/simulator1.mov.zip)

This is on a bare react-native app.

### Expected behaviour

The scroll should be smooth.

[2021-02-24 16:49] alexpchin commented on #145
I believe the problem goes away if I comment out:

[code]

In Tab.FlatList.

[2021-02-24 21:26] alexpchin commented on #145
The issue is magnified when the list is large... Please see repro here:

https://github.com/andreialecu/rnctv-react-native-bare-test/pull/3

[2021-02-25 11:47] andreialecu commented on #145
See #146

[2021-02-25 14:01] #145 closed

[2021-02-25 20:37] alexpchin opened #147 "TabBar delay when using `lazy` + custom `TabBarComponent`"
### Current behavior

Since 4.0.1, I now see that if you use `lazy` with a custom `TabBarComponent` if you click the tab quickly after the page loads, the wrong TabBarIcon is selected.

If I don't use a custom TabBarComponent then I can't replicate it.

Video with custom `TabComponent`:

[simulator3.mov.zip](https://github.com/PedroBern/react-native-collapsible-tab-view/files/6045569/simulator3.mo

[2021-02-26 00:14] #142 closed

[2021-02-26 01:31] alexpchin opened #148 "When `headerHeight` is not set sometimes tab opacity remains at 0"
### Current behavior

When using dynamic tabs and you don't add `headerHeight`, then sometimes (not every time) the Tabs will appear empty because the opacity will still be 0. Please see video:

[blank-tab.mov.zip](https://github.com/PedroBern/react-native-collapsible-tab-view/files/6046861/blank-tab.mov.zip)

If you add any value for headerHeight, i.e. `1` the content will visibly adjust but the

[2021-02-27 10:26] andreialecu commented on #148
Tested this in the Example app and was not able to reproduce it.

Please share a repro.

[2021-02-27 10:27] andreialecu commented on #147
`4.0.1` didn't really change anything that could break this 🤔

Based on your video it seems that the indicator renders correctly, it's just the highlight that is wrong. That could also be a bug in the custom tab bar though.

Would need a repro in order to investigate.

[2021-02-27 15:46] danielfein commented on #144
Any thoughts on this? To be honest I fear it makes the header practically unusable if the two options are touchable or scrollable and they're mutually exclusive.

[2021-02-27 18:15] andreialecu commented on #144
As long as the buttons are small enough, it can be scrolled from regions around them.

You need to experiment with `pointerEvents` `box-none`: https://reactnative.dev/docs/view#pointerevents

Scrolling from touchable regions I don't think is possible.

[2021-02-27 18:52] PedroBern commented on #144
Have you tried [gesture handler buttons](https://docs.swmansion.com/react-native-gesture-handler/docs/api/components/buttons)?

[2021-02-27 20:29] alexpchin commented on #148
Hi, @andreialecu

I've been working to try to resolve this today...
Basically, what I was seeing was that (only sometimes) the pager's opacity visibly remains at 0.

(I can see the outline of the content in the siimulator inspector).

<img width="412" alt="Screenshot 2021-02-27 at 15 55 03" src="https://user-images.githubusercontent.com/40461/109392599-f0220400-7914-11eb-9a73-c6b920c2069d.png">

A

[2021-02-27 21:41] alexpchin commented on #147
Sorry, @andreialecu I wasn't clear when I said that. I just noticed it since installing `4.0.1`. It could have been present before. I will take a deeper dive to see if I can find the cause of the problem.

I think it's unlikely to be my custom tab bar as the logic is almost exactly the same.

[2021-02-27 22:44] alexpchin commented on #148
Hi @andreialecu There seems to be a scenario where headerHeight is undefined but pager.opacity is not 0 so the pager stays at 0 opacity? Does withTiming(1) start at 0 and conclude at 1? Should this just be 1?

[2021-02-28 06:34] danielfein commented on #144
I just took the same header and same tab data and popped it out of the RN Collapsible Tab View component to see if ScrollView scrolling might work, and it does. I think this might be more of an implementation thing than something that has to do with the ability to scroll on a touchable component. Will keep exploring options and the gesture handler buttons.

[2021-02-28 06:46] danielfein commented on #133
So this issue is back. I can confirm that it's occurring due to this component as I've popped the same Header out of the component and flashing stops. It appears to be occurring when there's a change to the tabs. I've been seeing it mostly with the dynamic tabs, when a new one is added just after load when a network call is returned. Somehow when the tab data appears (so not just the tab, but the

[2021-02-28 09:51] andreialecu commented on #144
If you put the header within the scrollview it will work, you can touch things just like you can in regular scrollview content.

However the header needs to be floating over the scrollview in order for anything to work (sticky tab bar, sticky header on scroll, and the fact that the header stays pinned and doesn't swipe with the pane left/right).

Without those features there's not much point to th

[2021-02-28 16:32] danielfein commented on #144
Right, the point there is that in general an element being both touchable & scrollable simultaneously, so the question is just, why within this library are those mutually exclusive? Can that be achieved, where buttons are both usable and on touch can be scrollable? Seems it should be achievable since it's proven to work elsewhere

[2021-02-28 18:19] andreialecu commented on #144
The header floats over the scrollview. The scrollview can only scroll if the touch is within it. The header can either catch the touch or become transparent to it via `pointerEvents` so that the scrollview underneath catches it.

In a purely native app this could be handled, via some effort, but with react native I don't know of a way to do it.

[2021-03-01 13:25] sankar9659 opened #150 "How to trigger an event when header is hidden or trigger an event when scroll down?"
![image](https://user-images.githubusercontent.com/58698022/109503092-d5d85980-7abf-11eb-832c-1fbfcb4b6201.png)
![image](https://user-images.githubusercontent.com/58698022/109503156-e983c000-7abf-11eb-9827-86508fd9d716.png)

How to trigger an event, when scroll down (when the header is hidden).
I m using this package for sticky header.
I want to move the header text in top of the screen. when scro

[2021-03-01 18:32] PedroBern commented on #150
Hi @sankar9659 you can pass an `animatedValue` to the `CollapsibleTabView` and listen to changes on it.

[code]

[2021-03-02 05:08] danielfein commented on #144
That makes sense, I'll see what can be done, I guess at this point it's my app that'll need reworking as I think this component is great and would like to continue to use it, thanks a lot!

[2021-03-02 05:08] #144 closed

[2021-03-02 05:58] sankar9659 commented on #150
Thanks @PedroBern, But the listener triggers/calls only one time, when i change the tabs the listener not calling. How to fix the issue?

[2021-03-02 06:12] #150 closed

[2021-03-02 11:03] abelmenkveld commented on #150
Hi @PedroBern, is there also an approach to accomplish this in v4? The navigation bar I try to animate is located outside of Tabs.Container

[2021-03-02 11:08] andreialecu commented on #150
@abelmenkveld the `top` value from the `useHeaderMeasurements()` hook in v4 is a reanimated2 `SharedValue`. You could use `useAnimatedReaction` or `useDerivedValue` on it to react to changes. See:

https://docs.swmansion.com/react-native-reanimated/docs/next/api/useAnimatedReaction/

[2021-03-02 11:32] PedroBern commented on #150
@abelmenkveld in addition to @andreialecu 's answer, you can  create your animation logic inside the header component (to get the context with `useHeaderMeasurements()`) and save it to your own context

[code]

[2021-03-05 16:59] abelmenkveld commented on #150
Thanks a lot guys for your great help! Finally got it working with useAnimatedReaction :). One last question: Is there a way to retrieve the contentOffset.y value of a ScrollView/FlatList? I can also create a new issue if this is simply a feature request, since we might need a dedicated hook for this?

In my use case I have a floating "scroll to today" button in a calendar-like list which should h

[2021-03-05 17:09] andreialecu commented on #150
A hook to expose the current Y would be useful indeed.

Would you like to open a PR for it? It shouldn't be a big change. Take a look at one of the other hooks.

[2021-03-11 20:46] bekatd opened #152 "How to change active tab underline color"

[2021-03-11 20:58] PedroBern commented on #152
Do you mean the indicator color?

[2021-03-11 21:23] bekatd commented on #152
Yeap, did not catch it anywhere in the docs, might be silly question though

[2021-03-11 21:28] PedroBern commented on #152
Yeah, the docs need an update!

[code]

Let me know if you have more questions

[2021-03-11 21:28] #152 closed

[2021-03-11 22:19] bekatd commented on #152
Is there any way to set `borderless` option to false of `android_ripple` for tabs

[2021-03-11 23:02] PedroBern commented on #152
Currently only providing a custom TabItemComponent to the TabBar.

[2021-03-13 11:55] bekatd commented on #152
Thanks but would be great `borderless` to be `false` by default and if you add an option to change it. Also another question, is there any simple way to know active tab index to use in a class components?

[2021-03-14 13:17] picknamexd opened #155 "Delay on open with react navigation"
I have a Tab.Navigator wrapping a Stack.Navigator that calls one Screen that shows a list of users, when I click on one of them, I call the Screen that contains collapsible-tab-view, and when it opens, it has a lot of lag, I have verified that if I put a single Tab, it works fine, but if I add 3 or 4, it starts to have lag, am I doing something wrong?

[2021-03-14 21:33] picknamexd opened #156 "How can I get the scroll position all the time?"
I want that when I scroll halfway, execute a function, but I can't get that value, I'm testing with `const {top, height} = useHeaderMeasurements ();` And with react native animated, but I can't get it, any suggestions?

Thanks!!

[2021-03-16 17:24] PedroBern commented on #155
Does it happen if the content of your tabs are light components, something like an empty view or null? Did you try lazy mode?

[2021-03-16 17:26] PedroBern commented on #156
Halfway of the header? Probably you can use `useDerivedValue` and when the top distance be equals half of the header, you execute your code. Can you share what you have tried?

[2021-03-16 19:00] picknamexd commented on #155
Hello! @PedroBern Thanks for your answer, right now I'm only testing the example in the read.me, the tabs are practically empty. I just tried wrapping with Lazy mode and nothing changes, I put the code I am using.

In react navigation first tab screen:

[code]

In Navigation Component
[code]

In PerfilStackScreen:

[code]

[2021-03-16 20:45] picknamexd commented on #156
Thanks for your answer @PedroBern , this is what I tried, but when I scroll until it enters the if, the application crashes.

  const offset = useSharedValue(0);

[code]

[code]

[code]

I have tried with a button in this way, and so it works

`        <Button onPress={() => (offset.value = Math.random())} title="Move" />
`

[2021-03-17 07:41] Khuongnb opened #157 "Override pagerProps.onScroll cause losing header collapse behavior when change to other tab using pager scroll"
### Current behavior

 - I'm sitting on Tab A
 - Override container pagerProps.onScroll
 - Scroll pager to Tab B (without touching TabBarComponent)
 - ScrollUp Tab B
 => HeaderComponent did not collapse, default pager onScroll (scrollHandlerX) has been overrided.

### Expected behaviour

   HeaderComponent should be collapsible when scrolling Tab B

### Code sample

[code]

### What have you tried

[2021-03-17 11:47] PedroBern commented on #157
Hi @Khuongnb, [here](https://github.com/PedroBern/react-native-collapsible-tab-view/blob/main/src/types.ts#L97) is the definition of the pager props. It does not include the `onScroll` because most of the collapsing logic is inside it. If you would like to override, you would need to create your own logic.

But no worries, you don't need it to create your tab bar. The props passed to the tab bar c

[2021-03-17 11:47] #157 closed

[2021-03-17 14:47] xyxc0673 opened #158 "Tabs.Scrollview reports a typescript properties missing error for its children component"
### Current behavior

Report a error
``` Type '{ children: Element; contentContainerStyle: { shadowOffset: { width: number; height: number; }; elevation: number; }; }' is missing the following properties from type 'Pick<ScrollViewProps, "hitSlop" | "onLayout" | "pointerEvents" | "removeClippedSubviews" | "style" | "testID" | "nativeID" | "collapsable" | "needsOffscreenAlphaCompositing" | ... 96 mo

[2021-03-17 19:59] andreialecu commented on #158
See: https://github.com/PedroBern/react-native-collapsible-tab-view/issues/139#issuecomment-782101899

[2021-03-17 21:01] 034502219988 opened #159 "how to add Icons for tabs"
hi, i need to ask that how can we use icons for tabs, now we are just using label.

[2021-03-17 21:49] 034502219988 commented on #159
please add option to use icon for tab

[2021-03-18 10:46] picknamexd commented on #159
Hello! I would also like this powerful package to include the possibility of adding icons to the tabs, I managed to do it in a more complicated way using custom tabs.

I'm going to show you how I have done it and I hope it helps you!

I have added to my code all the .tsx and .ts of the MaterialTabBar folder, you can find it in the code of this repository,
Then I looked for the place where I put th

[2021-03-18 16:03] PedroBern commented on #159
Probably we can add a `renderIcon` prop on the tabbar, and allow to pass an `icon` prop on the `Tabs.Tab`. This would allow rendering icons + labels

[2021-03-19 12:33] alexpchin commented on #148
Hi @PedroBern @andreialecu I'm still seeing this problem in my app when `headerHeight` is not set. I don't actually think it's to do with dynamic tabs as I can replicate the behaviour without dynamic tabs.

If I have no `HeaderComponent` at all, it doesn't happen. Only if the HeaderComponent is set but no `headerHeight` is provided.

I've tried to replicate it in an example app but I'm really stru

[2021-03-19 16:29] samih7 commented on #148
We have the exact same issue in our application, without dynamic tabs. Seems to occur on Android most often.

[2021-03-19 16:59] alexpchin commented on #148
@samih7 I've tried to replicate the behaviour in a repo but I can't seem to?

https://github.com/alexpchin/rnctv-react-native-bare-test/pull/1

[2021-03-20 14:01] PedroBern commented on #148
I can't reproduce it. But maybe having a single layout event callback for taking the height of the header/tabbar/container help, instead of having 3. I did it here https://github.com/PedroBern/react-native-collapsible-segmented-view/blob/9a2e5006572d09ae0582454919edb4af7583949b/src/SegmentedView.tsx#L82 a refactoring should not be hard. Does someone would like to give it a try?

[2021-03-23 09:17] alexpchin commented on #148
@PedroBern I've tried to reproduce it... In my app, it's really quite obvious. It's making me 🤯 trying to work out why I can't replicate it in a separate repo.

If no `headerHeight` is provided, then:

Container 92 would mean `headerHeight` is undefined.

[code]

Until the height of the header is calculated:

Container 322.

[code]

This should trigger the page to fade in with:

Container 349.

[c

[2021-03-24 12:31] 034502219988 commented on #159
@PedroBern  thanks, if you can add icons to the next release.

[2021-03-24 22:10] bekatd opened #160 "Updating state with onViewableItemsChanged makes scrolling extremely laggy"
I am trying to toggle tab flatlist item visibility prop on/off based on they are visible or not in current viewport via `onViewableItemsChanged` but seems like this lib does heavy computations and when updating state of flatlist (which rerenders all items) scrolling experience is extremely laggy

### Current behavior

Scrolling is buggy, items are jumping on every rerender up and down

### Expecte

[2021-03-24 23:10] samih7 commented on #160
We are experiencing the exact same issue, which indeed causes a janky experience.

Let me know if I can assist to get this progressing.

[2021-03-24 23:24] PedroBern commented on #160
@bekatd try using a side-effect-free `onViewableItemsChanged `, instead of controlling the visibility of your items with state, use an animated value mapped to the opacity. It will prevent unnecessary re-renders and probably make a delightful experience.

[2021-03-24 23:35] bekatd commented on #160
@PedroBern Thanks for the quick response, but it is not clear for me, can you elaborate on this? :)

[2021-03-25 01:08] bekatd commented on #160
How can I get this value `use an animated value mapped to the opacity`

[2021-03-25 01:27] bekatd commented on #160
I think you misunderstood my goal. I am not trying to animate flatlist scrolling, but want to make video start/stop based on their positions, but I can't use `ref` for this, there is some complex case which prevents me doing so. So I am interested to just pass some prop to renderItem and decide later when to start/stop video. But scrolling is extremely buggy due to rerenders

[2021-03-25 04:14] xyxc0673 opened #161 "dependencies not updated when firing onTabChange"
Hi guys , thanks for the great package.

I have a problem.

code like these:
[code]
the verb homeTopicMap was not updated when redux state has been updated.

how do I make it work with the homeTopicMap?

[2021-03-25 08:38] PedroBern commented on #160
Forget about it. Probably would be a big workaround. Why do you need this? Maybe what you need is to listen to the scrollY position...  it's an open issue #156

[2021-03-25 08:42] bekatd commented on #160
No, but thanks. I already found workaround using refs instead of states and scrolling is now smooth again

[2021-03-25 08:48] samih7 commented on #160
@PedroBern With this basic example, you can see that `Tabs.Container` re-renders many times when scrolling down the list:

[code]

[2021-03-25 13:38] samih7 commented on #160
@bekatd Can you share your workaround?

I can reproduce the issue with a simple setup like so:

[code]

[2021-03-25 13:43] bekatd commented on #160
Sure give me some time

[2021-03-25 16:23] bekatd commented on #160
import React, { useRef } from 'react';
    import { Tabs } from 'react-native-collapsible-tab-view';

    const TabOne = ({ data, ...rest }) => {
    const refs = useRef({});

    const onViewableItemsChanged = useRef(({ changed }) => {
        changed.forEach((item) => {
            refs.current[item.item.id].setVisible(item.isViewable ? true : false);
        });
    });

    return (

[2021-03-27 10:25] bekatd commented on #160
@samih7 Did you manage to solve the problem?

[2021-03-28 08:34] lyseiha opened #162 "is it support for none-expo react native project?"

[2021-03-29 11:08] samih7 commented on #160
@bekatd Thanks for your answer, but not really. I gave it a try, my use case is exactly the same as yours (auto-playing videos when in view) but using a ref doesn't completely solve the issue – it still get some jumps when scrolling, whereas it's smoother with a normal `FlatList`.
By the way, did you use the `useImperativeHandle` hook to add the `setVisible` method on your ref?
I think the benefit

[2021-03-29 22:05] leonnardovv commented on #159
Hi, add the following prop to Tab.Navigator:

`tabBarOptions={{showLabel: true, showIcon: true}}`

And the following prop to Tab.Screen:

[code]

where CameraIcon is a component

@034502219988 @PedroBern

[2021-03-30 15:10] samih7 commented on #162
@lyseiha Yes, I use `react-native-collapsible-tab-view` in a bare React Native app without Expo.

[2021-03-30 16:19] habovh opened #163 "Cannot use cross-axis VirtualizedList inside Tab.ScrollView"
### Current behavior

I'm in the situation where I need to use an horizontal `<FlatList />` as a child of `<Tabs.ScrollView />`.

As it turns out, the `horizontal` prop appears to be *ignored* and my items are ending up being stacked vertically instead of horizontally as expected.

### Expected behaviour

I'm expecting to be able to use `<FlatList horizontal />` (or any `VirtualizedList` really) a

[2021-04-06 06:47] robertpreoteasa commented on #144
@danielfein did you find any solution? We have the same issue within our app and didn't manage to solve it yet.

[2021-04-06 08:46] PedroBern opened #164 "Upgrade reanimated to stable + upgrade example app to expo SDK 41"

[2021-04-09 18:00] alexpchin commented on #162
@lyseiha Yes, so do I.

[2021-04-14 07:29] RoscoeZhao commented on #97
Hi @andreialecu , firstly I want to say thank you for this great component!
The PR which fixs the iOS offset issue, https://github.com/facebook/react-native/pull/30737 , has been merged to RN. Would you please add support for SectionList ? Thank you very much!

[2021-04-14 08:45] andreialecu commented on #97
@RoscoeZhao unfortunately even though the PR was merged, RN0.64 does not include it.

You can verify by comparing https://cdn.jsdelivr.net/npm/react-native@0.64.0/React/Views/RefreshControl/RCTRefreshControl.m with the changes in the PR.

The release workflow of RN diverges from what is in master. Instead, they cherry pick commits:
https://github.com/react-native-community/releases/issues/221

RN

[2021-04-14 15:45] alexco2 commented on #97
I asked for a cherrypick. If you give the comment some attention, perhaps I'll work ;)

[2021-04-16 15:05] MAgungHKM opened #165 "What happen to the onScroll event?"
All I see are onScrollBegin, onScrollEnd, onScrollAnimationEnded, etc

[2021-04-20 20:06] sierradean opened #166 "createMaterialCollapsibleTopTabNavigator not found in 'react-native-collapsible-tab-view'"
I am attempting to use the TabNavigator wrapper for the collapsible header. However, I run
`npm install react-native-collapsible-tab-view`
and my import looks like this (how I import everything else for the project
`import {createMaterialCollapsibleTopTabNavigator} from 'react-native-collapsible-tab-view'`
When attempting to initialize the navigator (const Tab = createMaterialCollapsibleTopTabNavi

[2021-04-20 23:10] Draykee commented on #73
I had this issue too and right now I'm pretty confused on what I should to.

Expo (https://docs.expo.io/versions/latest/sdk/reanimated/)

It should be mentioned somewhere

[2021-04-21 13:22] Jalson1982 commented on #155
I have the same issue. I put 4 same scrollviews and the same problem. JS thread goes down to 20 and UI thread about 55 when I navigate to screen that contains collapsible-tab-view. I tried lazy too but it is the same.

[2021-04-21 14:09] andreialecu commented on #155
@Jalson1982 and others, is this on Android or iOS?

I think there are some upstream issues with Reanimated because I'm running into: https://github.com/software-mansion/react-native-reanimated/issues/1932 which is somewhat related, but more serious.

[2021-04-21 14:11] Jalson1982 commented on #155
@andreialecu I see it on IOS on Android I am scared to look  . It is very very noticeable that there is some big lag.

[2021-04-21 14:20] andreialecu commented on #155
Does the JS thread consistently stay down to 20fps, or is it just for the initial load?

If so, a repro would be good to see.

On the app I'm working on I have a collapsible tab view with 6 lazy loaded scrollable tabs, and on iOS the performance is perfect.

[2021-04-21 14:21] Jalson1982 commented on #155
Ok, repo is very hard to get :(. But basically, it is just scroll view with some text nothing heavy. I can make a video to see drops if you like.

[2021-04-21 14:31] andreialecu commented on #155
@Jalson1982 try reproducing it on https://github.com/andreialecu/rnctv-react-native-bare-test

It has two tabs, but it doesn't seem to exhibit the problem by default.

![simulator_screenshot_D91C15CA-20C0-4CD7-A71C-17EDAE5D6936](https://user-images.githubusercontent.com/697707/115571148-66b10180-a2c7-11eb-88e3-23a83bde2e2c.png)

Open a PR with the reproduction on the repository above if you can ac

[2021-04-21 15:45] andreialecu commented on #166
Hey @sierradean the current version does not have react navigation support built in yet.

I have a work in progress implementation which I'm going to share here:
https://gist.github.com/andreialecu/3843786a4b849c33b559963656467f2f

You can simply drop it into your project and use it like:

[code]

[2021-04-24 11:07] sierradean commented on #166
Ah thank you! I misunderstood the documentation. I will try that out!

[2021-04-24 11:19] #166 closed

[2021-04-27 03:30] lostaloneesk opened #167 "Crash on android using yarn workspaces monorepo"
### Current behavior

Hi, first of all thank you for your great work and this great library.

I tried to get the example working in a monorepo.
When launching the app on android-emulator or my development device the app crashes.

### Expected behaviour

The example works

### Code sample

minimal repo to reproduce this here https://github.com/lostaloneesk/tab-view-monorepo-example

Here are logs f

[2021-04-30 10:21] Kasheeram opened #168 "if you want to use Reanimated 2 then go through our installation steps"
I am integration this library for collapsable header tab, Also i have install react-native-reanimated v2, still getting this error, please help me.

if you want to use Reanimated 2 then go through our installation steps https://docs.swmansion.com/react-native-reanimated/docs/installation

package.json
[code]
![Simulator Screen Shot - iPhone 12 - 2021-04-29 at 09 18 00](https://user-images.githubus

[2021-04-30 10:44] andreialecu commented on #168
Did you add the babel plugin as mentioned in the link?

[2021-05-03 02:19] Kasheeram commented on #168
Yes i added,

module.exports = {
  presets: ['module:metro-react-native-babel-preset'],
  plugins: ['react-native-reanimated/plugin'],
};

[2021-05-03 02:26] Kasheeram commented on #168
Its working when i am creating fresh new  App but not working with existing App.

[2021-05-03 10:04] andreialecu commented on #168
Did you install the pods? `cd ios && pod install`

[2021-05-03 12:00] Kasheeram commented on #168
Yes i did  cd ios && pod install after installing "react-native-collapsible-tab-view"

[2021-05-04 11:28] pskryuchkov commented on #144
Same problem

[2021-05-04 18:18] Jalson1982 opened #169 "OnIndexChange with custom TabItem"
Hello,

We are using this package and we want to create our own tabBarItem that will be based on activeIndex have a different style. All is fine BUT big BUT. As we are keeping index inside the state, each time index change it seems it resets all the tabs position and set them to initial positions. Also, if I scroll tab A tab B content when switch is on same position. Any advice how to handle custo

[2021-05-04 19:32] newmanz12 commented on #160
Refd can you respond to @samih7 using his solution but also experience some issues still. Can you show us how you implemented the setVisible function for your items

[2021-05-04 21:34] bekatd commented on #160
Hey, sorry for late response. This is how I implemented refs and it works really smooth.

Please copy this code and modify it

`import React, { useRef } from 'react';
import { Tabs } from 'react-native-collapsible-tab-view';

const TabOne = ({ data, ...rest }) => {
    const refs = useRef({});

    const onViewableItemsChanged = useRef(({ changed }) => {
        changed.forEach((item) => {

[2021-05-04 22:15] bekatd commented on #160
@newmanz12, about @samih7's code. I doubt it would work (unfortunately not able to test now), since does not pass `ref` to the `ListItem` component. If you decide to use `useImperativeHandle` ensure that component gets `ref` value, not function which sets refs variable for parent object.

[2021-05-04 22:47] newmanz12 commented on #160
Got it. I'm having trouble understanding what you did in ListItem to get your code to run in terms of defining setVisible. Can you post yours?

Included my code below. Currently not working. refs.current[item.item.id] is coming back as undefined. Console logged both refs.current and item.item.id which are coming back with values. However, not able to combine them together

import React, {useState,

[2021-05-05 07:33] bekatd commented on #160
@newmanz12 please indent your code when pasting here, to ensure markup.

And please post minimal code and using my code example above and let me know if it works

[2021-05-07 10:23] AuroreUX commented on #168
I have the same issue here !
Anyone has a tip to resolve this issue?
I'm going to keep working with Animated from react native :(((((

[2021-05-07 11:03] andreialecu commented on #168
I'm going to close this because it's not an issue with this library. Feel free to post the solution once you find it.

I suggest having a look at how the check works here: https://github.com/software-mansion/react-native-reanimated/blob/a8d9720ee5312a43cc4e3beb02e70b2fc6a030ae/src/reanimated2/core.ts#L23-L45 and checking what's going wrong with it.

Alternatively take a look at https://github.com/

[2021-05-07 11:03] #168 closed

[2021-05-13 19:02] gabrielbezerra81 commented on #163
Did you solve this? I'm facing the same issue.

[2021-05-14 04:31] likeSo opened #170 "Support fade header out"
### Feature request

Please Support fade header out, that is, when we scrolling up, the header component's opacity fade out
---
Another, could we make the tab bar transparent too? I tried set `backgroundColor: 'transparent'` but it always white. Here is our UI design:
![image](https://user-images.githubusercontent.com/12247340/118221380-12f19c80-b4b0-11eb-8c3a-06496933871c.png)

### Current behavi

[2021-05-15 11:12] frankboris opened #171 "react-navigation collapsible minHeaderHeight"
Hi, i use this plugin with react-navigation. I want the collapsible header to have `minHeaderHeight`.
Please how to implement min height.

I add `minHeaderHeight `to `collapsibleOptions `but it didn't work

[2021-05-15 14:13] duyhodn commented on #163
+1 the same to me

[2021-05-16 13:03] Punit-Vajpeyi opened #172 "Can we have static component in the header, which not scroll?"
Need to have the static view, in the top of the header which will not scroll

[2021-05-16 13:35] #172 closed

[2021-05-16 15:21] lyseiha opened #173 "How to add pull to refresh?"

[2021-05-16 15:43] andreialecu commented on #173
Take a look at https://github.com/PedroBern/react-native-collapsible-tab-view/blob/83250045e6e9f65f35cb71276fc53337182e3eb4/example/src/Shared/Albums.tsx

The example app has pull to refresh functionality on all tabs.

[2021-05-16 15:43] #173 closed

[2021-05-17 02:26] lyseiha commented on #173
Is it support for un-expo project?

[2021-05-18 07:14] mehthabux commented on #162
Is it working on rn 0.64 ?

[2021-05-18 11:47] mehthabux opened #174 "Can we apply the collapsible animation to our own react native flatlist ?"
can we have any hooks to used to animate  the  header when  react native flatlist is used ?

[2021-05-18 12:19] habovh commented on #163
I didn't solve this, I ended up using the less advanced [`react-native-collapsible-segmented-view`](https://github.com/PedroBern/react-native-collapsible-segmented-view) by the same author.

Suggesting another library is not ideal but that's actually how I got by, thought it was worth sharing since this issue does not exist on the other lib.

[2021-05-18 13:02] tgwow commented on #164
which version of sdk and react-reanimated is recommended to use this incredible lib?
I was using SDK 40 and reanimated `2.0.0-rc.2`, but I got a multiple thread usage error: `I tried to call the {assign} synchronous call function from a different thread`
I also tried version `2.0.0-rc.0` and got the error `_setGlobalConsole`. I cleared the cache and all the steps suggested in these [#1640](https:/

[2021-05-18 13:14] duyhodn commented on #163
ah guys, using FlatList from 'react-native-gesture-handler' instead of `react-native` works for me

[2021-05-18 15:17] habovh commented on #163
Oh wow.

Now that's unexpected, thanks for the tip!

[2021-05-18 22:06] SiSa68 opened #175 "useTabsContext must be inside a Tabs.Container"
Hi there
I just tested your example on non-expo react native and it crashes in `AnimatedHeader` example with this error:

`Error: useTabsContext must be inside a Tabs.Container`

[2021-05-19 00:20] PedroBern commented on #164
Hi @tgwow please see the package.json file in the root folder and the expo SDK version of the example app.

If you need the upgrade, you can work on a PR to make this lib compatible with the latest stable reanimated and upgrade the example app. This would be very appreciated 🎉

[2021-05-23 12:36] Punit-Vajpeyi commented on #175
@SiSa68 replace following line

  `HeaderComponent={Header}

with

  `HeaderComponent={props => <Header {...props} />}

It worked for me

[2021-05-23 12:38] Punit-Vajpeyi commented on #162
@mehthabux Yes

[2021-05-26 08:33] yonjuukyuu commented on #164
Hi,
`"expo": "~40.0.0",`
`react-native-reanimated": "^2.1.0",`

Im getting this _setglobalConsole_f error as well for a while now, have try the reset cash and reinstalle modules noone seem to work, is there a workaround this yet ?

I do have the plugin in babel config too.

[2021-05-28 05:24] adelaadeoye opened #176 "Styling the Tabs Labels"
Please is there anyone who could assist in styling the labels for the Tabs .

This is what I have at the moment
[code]
But it is not working

[2021-05-28 06:34] andreialecu commented on #176
Upgrade to version `4.2.0` so that `renderTabBar` is available:

Example:
[code]

[2021-05-28 06:34] #176 closed

[2021-05-28 07:08] #162 closed

[2021-05-28 07:08] #175 closed

[2021-05-28 07:11] andreialecu commented on #174
The library does wrap a normal RN FlatList and attaches some custom hooks, take a look at: https://github.com/PedroBern/react-native-collapsible-tab-view/blob/main/src/FlatList.tsx

What is your use case?

[2021-05-28 07:12] andreialecu commented on #163
I'll close this as it seems resolved, if not, let me know.

[2021-05-28 07:12] #163 closed

[2021-05-28 07:18] habovh commented on #163
@andreialecu it's very well *not* resolved. The currently proposed "fix" implies relying on a third party lib. In my opinion, this either needs to be fixed here RN-collapsible-tab-view, or in React Native itself if `horizontal={true}` is properly applied to children scrollviews by RN-collapsible-tab-view.

[2021-05-28 07:37] andreialecu commented on #175
Indeed the example was wrong, fixed in #177

[2021-05-28 07:42] andreialecu commented on #170
There's an example in the repo that shows how to animate the header:
https://github.com/PedroBern/react-native-collapsible-tab-view/blob/main/example/src/AnimatedHeader.tsx

To make the tab bar transparent, you need to make the header's background transparent:

Example:
[code]

[2021-05-28 07:52] andreialecu commented on #169
Please share some relevant code on how you're creating this.

[2021-05-28 07:54] samih7 commented on #160
@andreialecu I think it's definitely a library issue

[2021-05-28 07:58] andreialecu commented on #167
Is this still an issue? Does it only happen with yarn workspaces?

I suggest opening an issue in the reanimated repository, as the code that triggers the crash, as per your stack trace is here:

[2021-05-28 08:01] andreialecu commented on #161
Sorry, but this question is quite generic and doesn't seem about `react-native-collapsible-tab-view` so I'm not sure how to help here.

[2021-05-28 08:01] #161 closed

[2021-05-28 08:05] andreialecu commented on #165
The library needs to handle `onScroll` itself in order to be able to work. There's a hook you can use that allows you to animate the header, see https://github.com/PedroBern/react-native-collapsible-tab-view/blob/main/example/src/AnimatedHeader.tsx

It may be possible to add another hook that provides access to the current scroll Y value.

What is your use case?

[2021-05-28 08:10] #158 closed

[2021-05-28 08:12] andreialecu commented on #92
See #163 for the same issue and a workaround.

[2021-05-28 08:12] #92 closed

[2021-05-28 08:22] bekatd commented on #160
Definitely library issue. In my opinion internal state updates or references cause some excessive number of adjustments (maybe scrolling position calculations) and when adding even more functionality or state updates, multiple concurrent things happen. Like, vissualy jumping scroll back and forth means that some timing function causes it, which is used internally by lib. Anyway great lib, but this

[2021-05-28 08:22] andreialecu commented on #160
Alright, PRs welcome.

The code for `Tabs.FlatList` is pretty simple: https://github.com/PedroBern/react-native-collapsible-tab-view/blob/main/src/FlatList.tsx feel free to dig into it and see if you can find the reason.

[2021-05-28 08:52] adelaadeoye commented on #176
Thanks, A colleague provided me with this and it work
[code]

[2021-05-28 12:13] habovh commented on #92
@andreialecu same issue yes but a workaround is no fix. In my opinion one of these issues should remain open and deserves more attention.

[2021-05-28 13:25] andreialecu commented on #163
There's nothing in this library that can cause this behavior directly, so it very likely is a react native bug, so there's nothing we can do here.

`react-native-gesture-handler` is a core lib in the community, and it's likely people are going to need it for other things anyway.

See these upstream issues:
https://github.com/facebook/react-native/issues/19452
https://github.com/facebook/react-nati

[2021-05-30 05:57] mehthabux commented on #174
yes, i noticed . my issue got solved
thank you 👍

[2021-05-30 06:23] #174 closed

[2021-06-01 02:28] likeSo commented on #170
Thank you but You may have misunderstood my meaning.
What i need is that tab bar absolute positioned on the Header, So i can change the header background with tabbar together
When i change backgroundColor using `headerContainerStyle={{backgroundColor: "transparent"}}`, i got this:
<img width="386" alt="image" src="https://user-images.githubusercontent.com/12247340/120258066-f503a480-c2c3-11eb-95b8

[2021-06-02 10:59] iamverto opened #178 "Tabs.FlatList is not showing `sometimes`, it's got hidden."
### Current behavior

Tabs.FlatList is not showing `sometimes`, it's got hidden. When I don't use `renderHeader` or `HeaderComponent`, it's working fine.

### Expected behaviour

No message showing in log, only it'd hidden sometime. I use React Navigation's stack navigator

### Code sample

     <Tabs.Container
            // renderHeader={(p) => <ProfileHeader {...p}/>}
            // headerHeigh

[2021-06-04 15:20] saurabh874 opened #179 "On change the tab indication colour does not show for next tab only in RTL ( for HEBREW language)"
@PedroBern  do you have any idea how to resolve it ? even i tried to change in node_module but did not get any solution.
<img width="1440" alt="Screenshot 2021-06-04 at 20 51 25" src="https://user-images.githubusercontent.com/59818553/120825056-a29dde80-c576-11eb-9ae0-b3b3d21675b8.png">

[2021-06-04 15:24] andreialecu commented on #179
The coordinates here may need to be adjusted when using RTL:
https://github.com/PedroBern/react-native-collapsible-tab-view/blob/ebfecd77ebd50cae30f8b911202a068e41b5efd4/src/MaterialTabBar/Indicator.tsx#L25

If you come up with a solution please submit a PR.

[2021-06-04 15:26] andreialecu commented on #179
Related: https://github.com/facebook/react-native/issues/29060

[2021-06-05 14:30] justinjoyn commented on #178
Setting a fixed height to the header component and providing the `headerHeight` prop fixed this for me.

[2021-06-05 20:58] rahulrj25 commented on #152
@PedroBern Similar to this issue, can you please suggest how to make elevation of header = 0.

[2021-06-06 05:17] rahulrj25 opened #180 "How to make elevation of header = 0 ?"
I am able to change styles of Top tab and entire Header but not able to make elevation = 0.

[2021-06-06 13:53] hossein-zare opened #181 "Header not moving after pressing tabs or swiping"
### Current behavior

Everything is fine when i scroll up & down, The header is collapsible until i press tabs or swipe, The header doesn't move anymore.

_My app is RTL for your information._

### Expected behaviour

The header should always be collapsible.

### Code sample

[code]

### Screenshots (if applicable)

![Untitled](https://user-images.githubusercontent.com/56504893/120926835-ba4ea180-

[2021-06-06 16:45] andreialecu commented on #181
If you switch to LTR does it work properly?

[2021-06-06 17:38] hossein-zare commented on #181
@andreialecu Yes

[2021-06-07 07:04] saurabh874 commented on #181
@hossein-zare do you getting indication blue strip when change the tab in RTL?
if yes do you pass any other props?

[2021-06-07 07:14] hossein-zare commented on #181
@saurabh874 No, it doesn't show the blue stripe at first.
I think you need to create your own Tab Bar.

[2021-06-09 07:58] saurabh874 opened #182 "Android only: Customers (Hebrew language) - Unable to edit an user detatils, when language selected is Hebrew (as keyboard opens and closes on input box"
Hi i am trying to use keyboard-aware-scrollview but it is not perfectly working and it is not focusing of textInput.
I am using like that <Tabs.Scrollview> <keyboard-aware-scrollview> ...... </keyboard-aware-scrollview></Tabs.Scrollview>

[2021-06-10 06:58] elirangoshen opened #183 "Tabs.Container in a screen without screen header causing unlikely shadow on top of the screen"
### Current behavior

When im using Tab.Container in a screen that im using custom screen header, i notice there is some shadow line in the top

### Expected behaviour

there shouldn't be any shadow in the top of the screen

### Code sample

For Syntax Highlighting check this [link](https://help.github.com/en/articles/creating-and-highlighting-code-blocks)

### Screenshots (if applicable)

![image

[2021-06-10 07:47] sunzhongliangde commented on #168
https://github.com/software-mansion/react-native-reanimated/issues/1875#issuecomment-857601710

see this, it works for me

[2021-06-10 07:55] andreialecu commented on #183
This is caused by these default styles:

https://github.com/PedroBern/react-native-collapsible-tab-view/blob/73af1692f88de0c525ebc6440ed592a5ff7e4fcf/src/Container.tsx#L548-L561

You can use the `headerContainerStyle` prop to override them.

[2021-06-10 08:14] elirangoshen commented on #183
thanks ! it worked

[2021-06-10 08:14] #183 closed

[2021-06-14 13:39] elirangoshen opened #184 "does the lib support reanimated 1.x as well ?"

[2021-06-15 11:54] saurabh874 opened #185 "Android only: Customers (Hebrew language) - Unable to edit an user detatils, when language selected is Hebrew (as keyboard opens and closes on input box"

[2021-06-15 11:54] #182 closed

[2021-06-18 09:25] andreialecu commented on #184
Negative. This requires reanimated 2.

[2021-06-18 09:25] #184 closed

[2021-06-18 09:27] andreialecu commented on #180
You are probably looking for this: https://github.com/PedroBern/react-native-collapsible-tab-view/issues/183

If not, leave a comment and I'll reopen.

[2021-06-18 09:27] #180 closed

[2021-06-18 09:27] andreialecu commented on #155
I believe this may be fixed by #186

[2021-06-18 09:28] #167 closed

[2021-06-18 09:28] andreialecu commented on #147
I think #186 should help with this.

[2021-06-18 16:56] jaybuangan opened #187 "When scrollEnabled=true, tabs don't expand to full width of screen"
I'm having an issue where I only have two tabs. When i set scrollEnable=true, it doesn't expand to the full width of the screen.  it keeps it roughly the size of the tab label , and leaves the rest of the tab area empty.

`scrollEnable={true}`:
![Screenshot_1624034983](https://user-images.githubusercontent.com/527997/122593502-9c9a0a00-d01a-11eb-804e-e42119b8a303.png)

 `scrollEnable={false}`:
![S

[2021-06-18 17:29] andreialecu commented on #187
This is by design. If the tab labels are made to fit the width of the screen then when would they start scrolling?

You could use a condition like `scrollEnabled={numTabs > 5}`

[2021-06-18 17:30] jaybuangan commented on #187
@andreialecu Ok. I'll play around with that.  Thanks!

[2021-06-18 17:30] #187 closed

[2021-06-19 14:04] rahulrj25 commented on #183
Setting shadowOpacity: 0 did the job for me

[2021-06-21 20:07] rahulrj25 commented on #183
@andreialecu shadowOpacity: 0 worked for ios, can you tell me how to achieve same for android? Also in android on pressing tabs ripple effect shows, how to disable that?

[2021-06-23 09:46] elirangoshen opened #188 "when swiping i cannot see the focused tab indicationl"
when i swipe the tabs i cannot see the new tab indication. it is swipe to the new tab but the header is not changing.
is there an attribute i need to add to solve it ?

i'm using custom tab bar.
in pics you can see that when i press the tab label its ok but when i swipe its not showing the tab label indication

![Simulator Screen Shot - iPhone 12 Pro Max - 2021-06-23 at 11 45 17](https://user-imag

[2021-06-23 10:21] andreialecu commented on #188
Try #186 , there's a comment on how to install it there.

[2021-06-24 08:28] eswarant opened #189 "Takes more time when switch one tab to another"
I am using this V2 to integrate with react native tab view, https://github.com/PedroBern/react-native-collapsible-tab-view/tree/v2.

tab immediately switched when i use static content with scrollview but it takes some seconds if i am using flatlist with get data fro backend(by making redux call)

[2021-06-25 12:24] elirangoshen commented on #188
is the new version should solve this bug ? :)

[2021-06-26 17:18] shivgarg5676 opened #190 "On Web(browser), Min height is being calculated infinitely and tab switches are not working"
I am using ` "react-native-collapsible-tab-view": "^4.2.1-rc.0"`. It is working properly on my android phone. But in the web browser, it is computing min-height infinitely and sticky tabs are not working.
secondly, on switching from one tab to another, active css(blue bottom border) is not getting applied to the selected tab.
See the image
![image](https://user-images.githubusercontent.com/6873680

[2021-06-26 19:36] andreialecu commented on #190
The library is not yet compatible with react native web. PRs are welcome.

[2021-07-02 21:22] noway commented on #168
I deleted the app and installed it again and it worked.

[2021-07-12 19:50] TimDR-1356 commented on #144
Add
pointerEvents='box-none'
to your buttons.

[2021-07-27 00:45] KazakovVS opened #191 "How to disable the swipe capability?"
I have slider inputs in tabs and want to disable the swipe tab capability since it causes awkward behaviour on android devices. Is there an option to do?

[2021-07-27 00:49] KazakovVS commented on #191
All good found it...
  /**
   * Props passed to the horiztontal flatlist. If you want for example to
   * disable swiping, you can pass `{ scrollEnabled: false }`
   */

[2021-07-27 00:49] #191 closed

[2021-07-28 13:45] andreialecu commented on #188
4.2.1 has been released. Please check if it happens on it and I can reopen.

[2021-07-28 13:45] #188 closed

[2021-07-28 13:46] #189 closed

[2021-07-28 13:46] andreialecu commented on #147
4.2.1 should have some pretty huge performance improvements, which I think should resolve this.

Closing, feel free to ping me to reopen if this is still an issue.

[2021-07-28 13:46] #147 closed

[2021-07-28 13:47] andreialecu commented on #155
4.2.1 should have some pretty huge performance improvements, which I think should resolve this.

Closing, feel free to ping me to reopen if this is still an issue.

[2021-07-28 13:47] #155 closed

[2021-07-28 13:47] #165 closed

[2021-07-30 04:17] Raden-Hor commented on #165
There any hook that I can access to onScroll Event to get scrollY of Tabs.Flatlist?

[2021-07-30 10:48] kyps2020 commented on #159
I've looked in the manual, but I can't find anything about adding icons in the tab bar. anyone have solution for this problem?

[2021-08-12 17:23] DavydVeremchuk commented on #168
I have already installed a `react-native-reanimated` of `2.2.0` version and everything had been working fine until yesterday my app randomly crashed with this error.

package.json
`
"dependencies": {
    "@ptomasroos/react-native-multi-slider": "^2.2.2",
    "@react-native-async-storage/async-storage": "^1.15.5",
    "@react-native-community/eslint-config": "3.0.0",
    "@react-native-firebase/app

[2021-08-15 18:09] iarmankhan opened #194 "Can we have scroll on header while having buttons in header?"
So I went through the examples and found what I need in 'ScrollOnHeader' example. The only problem is we can't have any kind of pressable or touchable stuff in it, because of `pointerEvents="none"` on surrounding view. Do we have any other way to like get this working? Thank you.

[2021-08-15 18:11] iarmankhan commented on #194
I should'd read the docs properly before asking. It is there in docs. Sorry for this.

For anyone wondering the same. It is here [Scroll on header](https://github.com/PedroBern/react-native-collapsible-tab-view#scroll-on-header)

[2021-08-15 18:11] #194 closed

[2021-08-19 21:46] naheed-shamim commented on #168
Reanimated 2 doesn't work in Debug mode. Stop your debugging mode and it should work.

[2021-08-19 23:48] databasemanager0 opened #195 "Tabs with Recyclerlistview possible ?"
Hello,

I have seen a Tab with flatlist or scrollview. Is that possible with recyclerlistview ?

[2021-08-20 21:12] databasemanager0 opened #196 "Why labelstyle not available as prop ?"
Hello,

why is labelstyle not working/available ?

`import React, { memo, useMemo, useCallback, useState, useEffect } from 'react';
import { StyleSheet, Text, View, TouchableOpacity, Dimensions, ScrollView } from 'react-native';
import { RecyclerListView, LayoutProvider, DataProvider } from 'recyclerlistview';
import Header from './Header';
import PropTypes from 'prop-types';
import faker from 'fa

[2021-08-26 17:18] mustafaskyer opened #197 "Very weird behavior in Android RTL & iOS"
Hello,
Thanks for your great work here, really appreciated it!
I tried to run the expo examples on an android device, and I had to update the mode to be in `RTL` mode
then I found more than an unexpected behavior like below:
- indicator doesn't work as expected
- default tab bar has a weird position, also its data is swiped with the last index tab data
- tabs items are not in order (reversed)

NOT

[2021-08-27 11:25] hpwtaee opened #198 "Tab switching & state updating causing scroll position issues"
Hi there, hope you're all well. Love the library but I'm experiencing two problems at the moment, the latter of which is the most concerning. Would really appreciate the help!

### PROBLEM 1
When navigating between tabs, the scroll position of the inactive tab should persist however this only works if I don't interact with the active tab. When interacting with the active tab, the inactive tab's sc

[2021-08-30 03:00] lidiwen opened #199 "android debugger crash"
"react-native": "0.63.4",

[2021-08-30 03:01] lidiwen commented on #199
Open the browser

[2021-09-07 18:46] davidbiedenbach commented on #97
I guess 30737 finally made it into 0.65 =)

[2021-09-16 22:45] alexco2 commented on #97
@andreialecu since the PR is now included in RN 0.65, is there a plan to support sectionlist as well? :)

[2021-09-17 07:36] andreialecu commented on #97
Sure, we can consider a PR that adds section list support if anyone is willing to implement it. 🙂

[2021-09-17 09:02] alexco2 commented on #97
Are there some considerations that come into your mind regarding the implementation of SectionList?

[2021-09-21 20:06] ShakeebM opened #200 "Can I get header collapsible or not ?"
I need to change status bar transparent while tabbar is collapsed. what is a simple way to do so?

[2021-09-29 23:08] alexco2 commented on #97
@andreialecu I forked this repo and made sectionlist work. I will test it further and commit a PR if everything works fine. Also, I will look into bumping reanimated to version 2.2.2. https://github.com/PedroBern/react-native-collapsible-tab-view/issues/164

[2021-10-01 22:23] alexco2 commented on #97
I commited the PR. Please let me know if anything is missing. Would be happy if the feature could be merged and shipped :)
https://github.com/PedroBern/react-native-collapsible-tab-view/pull/201

[2021-10-01 23:24] alexco2 commented on #164
Included in this pr: https://github.com/PedroBern/react-native-collapsible-tab-view/pull/201

[2021-10-03 08:54] #164 closed

[2021-10-03 09:12] andreialecu commented on #197
Hello @mustafaskyer

I merged your PR in #193 so hopefully this is resolved. If not, feel free to ping me to reopen.

[2021-10-03 09:12] #197 closed

[2021-10-03 09:13] andreialecu commented on #179
I believe this may have been fixed in 4.3.0 after merging #193

Will close, but feel free to open a new issue if the problem persists.

[2021-10-03 09:13] #179 closed

[2021-10-03 19:35] #97 closed

[2021-10-05 09:45] Andresain123 opened #202 "Collapse header when tabIndex changes"
Is it possible to collapse the header when the index of the selected tab changes?
For example: I click on the second tab and automatically it changes to the second view and also collapses the header to have a larger view of the content.

Thanks!

[2021-10-06 19:10] Damon-Zhong opened #203 "onScroll and some other props of ScrollView are not available"
### Feature request

As the doc suggests Tabs.ScrollView should function like a normal ScrollView, but currently there are some props missing.

### Current behavior

onScroll is missing and onScrollBeginDrag, onScrollAnimationEnd are not functioning when there is nested FlatList/ScrollView within Tabs.ScrollView/Tabs.FlatList

### Screenshots (if applicable)

Repro code snippet:
`import React from

[2021-10-08 06:24] darrychen92 commented on #198
Got the same issue

[2021-10-10 21:49] theshadowagent commented on #178
For me `Tabs.FlatList` was hidden on all tabs except the first one because of `width: 100%` CSS style. I removed it, and it was fixed, and FlatList had the desired full-screen width 🎉

[2021-10-12 13:09] sankar9659 commented on #169
I'm also getting same issue in IOS only. I've maintained the ActiveTabIndex value to local state for modifying the existing tabbar design to apply the gradient color for the label and indicator (I mean I need to apply the gradient for the label indicator).
If I maintained the activeIndex value in local state, All the tabs kept the same scroll position of the previous tab position.

The example cod

[2021-10-12 13:14] sankar9659 opened #204 "Scroll position changing issue after switching the tab by using onIndexChange prop"
@andreialecu and @PedroBern   I'm also getting same issue in IOS only. I've maintained the ActiveTabIndex value to local state for modifying the existing tabbar design to apply the gradient color for the label and indicator (I mean I need to apply the gradient for the label indicator).
If I maintained the activeIndex value in local state, All the tabs kept the same scroll position of the previous

[2021-10-13 09:45] #204 closed, assigned to nobody

[2021-10-14 11:57] sushantWemotive opened #206 "Tab.Flatlist not working"
import React from 'react';
import {StyleSheet, View} from 'react-native';
import {Tabs} from 'react-native-collapsible-tab-view';
import {useTheme} from 'react-native-elements';
import PostCard from '../post/components/PostCard';
import UserProfileDetails from './UserProfileDetails';
import UserProfileHeader from './UserProfileHeader';

const CollapsibleTabView = ({data, navigation, userData}) =>

[2021-11-01 04:38] vlack-coder commented on #159
Honestly, I don't still get this.... I think I'll use what @picknamexd used earlier, only that I'll have to stick to Ionicons till you elaborate on this cuz I can't find anything like collapsible option or Tab.Navigator

[2021-11-01 05:15] vlack-coder commented on #159
I'm just getting to know that collapsibleOptions is a prop to createMaterialCollapsibleTopTabNavigator from an older version. I'm seriously stuck here

[2021-11-02 00:58] KazakovVS commented on #159
[](url)> Honestly, I don't still get this.... I think I'll use what @picknamexd used earlier, only that I'll have to stick to Ionicons till you elaborate on this cuz I can't find anything like collapsible option or Tab.Navigator

What I did is just created a custom MaterialTabItem component by copying it from the .../node_modules/react-native-collapsible-tab-view/src/MaterialTabBar/TabItem.tsx and

[2021-11-02 01:26] vlack-coder commented on #159
Thanks..... I also did somewhat the same thing
`     <Animated.Text style={[styles.label, stylez, labelStyle]}>
              <Ionic name={label} size={30}/>
      </Animated.Text>`

On the tab configuration,
`   <Tabs.Container
                renderHeader={Header}
                // headerHeight={3000} // optional
                TabBarComponent={(props) => (
                    <MaterialTabBar

[2021-11-03 19:46] jakobsuckow opened #209 "Is it possible to have pull to refresh on <Tabs.Container> ?"
Hello,
Is it currently possible to implement a refreshControl on the top level container so that I can pull to refresh within my flatlist inside the <Tabs.Tab> and it will pull to refresh at the top ? Basically, just like instagram does it.

This is my code:
`        <Tabs.Container
          renderHeader={Header}
          headerHeight={HEADER_HEIGHT}
          headerContainerStyle={{

[2021-11-10 23:55] cbarceloc opened #210 "Error after upgrading to expo 43 in iOS in release mode"
Everything worked until I updated to expo 43. The app crashes caused to this exception: If you want to use react-native-reanimated 2 then go through our installation steps. I use react-native-reanimated 2 in other parts of my project and it works fine, but I don't know why it crashes when using and visiting the screen where it is located react-native-collapsible-tab-view.  I use
react-native-colla

[2021-11-11 11:51] andreialecu commented on #210
Odd. Not sure how this would be related to this library. Try deleting your `node_modules` and maybe all lock files.

Do you use `yarn` or `npm`?

[2021-11-11 14:47] GermaVinsmoke commented on #139
If you want to use the latest version of `react-native` then can add this comment on top of the `<ScrollView>` component -
`{/* @ts-ignore */} `

[code]

[2021-11-12 13:30] cbarceloc commented on #210
oh yes sorry, I've seen it's an issue between expo 43 and react-native-reanimated. Using react-native-reanimated directly in my project also throws the error. I cleared all yarn and pods cache, but it does not seem to be the problem.
https://github.com/expo/expo/issues/14746. Thank you!

[2021-11-12 17:14] #210 closed

[2021-11-15 12:20] waheed25 opened #212 "Can i use Custom ListView?"
I am already using [recyclerlistview](https://github.com/Flipkart/recyclerlistview) and don't want to use Flatlist due to performance issues of list having images, Is there a way to use that [recyclerlistview](https://github.com/Flipkart/recyclerlistview) instead of Flatlist?

[2021-11-15 14:02] orelhassidproptime opened #213 "Bug: Infinity Scroll View"
When I'm using the Tab Container and Tab Bar I'm getting an infinity scroll/height.
I have to say it's not working event with the example (without using map)

![image](https://user-images.githubusercontent.com/91781019/141794351-4169b750-77ba-486f-85c5-ae2059eceb2d.png)

Tabs.jsx
[code]

SingleListingsScreen.jsx
[code]

It's also give me this weird flickers
![tab-collapse-bug](https://user-images.

[2021-11-16 06:49] star-heng opened #214 "how to do this"
https://user-images.githubusercontent.com/8955903/141935243-1decf63e-df57-4719-9f7a-f5e5b5d7d0ff.mp4

[code]

[2021-11-17 03:59] star-heng commented on #214
just do it~~~
[code]

[2021-11-17 03:59] #214 closed

[2021-11-18 18:35] 10000multiplier commented on #212
This is a duplicate issue. See https://github.com/PedroBern/react-native-collapsible-tab-view/issues/195

[2021-11-18 18:54] 10000multiplier opened #215 "Optimize Tabs.FlatList for react navigation modal"
### Feature request

When the user scrolls to the top of the `<Tabs.FlatList />` component, the `pointerEvents`  prop should be set to "none," so that the user can keep scrolling to interact with the parent modal screen (i.e. closing the modal by scrolling down) .

### Current behavior

When scrolling inside the `<Tabs.FlatList />`, the user is unable to interact with the parent modal screen.

###

[2021-11-20 04:30] 10000multiplier commented on #160
@andreialecu The lag problem is caused by the `snapThreshold` prop in the `useScrollHandlerY` hook.

Something in that logic is causing excessive re-renders when scrolling.

[2021-11-20 15:54] 10000multiplier commented on #209
I'm interested too.

[2021-11-22 20:37] jakobsuckow opened #216 "Tabs.ScrollView Scroll is locked after initial viewport height is passed"
Hello,

Firstly, Thanks for developing this awesome library.

Unfortunately, I am facing issues when adding the Tabs.ScrollView method.

`      <Tabs.Container
        renderHeader={Header}
        headerHeight={HEADER_HEIGHT}
        headerContainerStyle={{
          borderColor: "#000",
          shadowOpacity: 0,
        }}
        containerStyle={{ shadowOpacity: 0, backgroundColor: "#fff" }}

[2021-11-23 10:24] JaitenThomas opened #217 "Tab Indicator size based on dynamic Tab Item Width"
### Feature request

Wanting the Tab Indicator size to be dynamic based Tab Item width, similar to twitter

### Current behavior

The tab item indicator is based on a division of number of tabs evenly

### Screenshots (if applicable)
![Screenshot_20211123-202251_Twitter](https://user-images.githubusercontent.com/46008388/143007636-0760e242-51b9-4a8b-aeca-6a70388c1373.jpg)

[2021-11-23 10:26] JaitenThomas commented on #217
Or is it possible to just have a react navigation tab navigator and somehow connect the indicator to the current tabs screen elements?

[2021-11-24 01:29] PedroBern commented on #217
The tab width is already dynamically set.

https://user-images.githubusercontent.com/39778068/143154526-77621b76-d4a0-4689-b135-5b9003b93e90.mp4

[2021-11-24 01:29] #217 closed

[2021-11-24 01:41] PedroBern commented on #217
@JaitenThomas Feel free to reopen if you mean when sceoll is disabled.

[2021-11-24 12:50] wel0z opened #218 "How to Remove MaterialTabBar elevation?"
is there a way to remove MaterialTabBar elevation/shadow ? I tried to extend MaterialTabBar with renderTabBar prop but seems not work. Other prop works like a charm

![Schermata 2021-11-24 alle 13 50 02](https://user-images.githubusercontent.com/6516617/143241642-3ee6be94-ad75-4165-8455-e7aaa1ed942b.png)

[2021-11-24 12:53] andreialecu commented on #218
See: https://github.com/PedroBern/react-native-collapsible-tab-view/issues/183

[2021-11-24 12:53] #218 closed

[2021-11-24 14:09] Mogul123 commented on #168
That was the solution for me! Thanks!

[2021-11-29 00:37] Aryk commented on #144
I'm having the same issue, but I also want to be able to have a photo carousel as well on top, so seems like I have to choose between the two. Anyone know how IG does it? You can press on the buttons at the top and scroll the entire container.

[2021-12-01 10:07] lzl5771060 opened #219 "how do I use the useHeaderMeasurements hooks"
When I use useHeaderMeasurements which hooks this error, how do I use it
example:    const { top, height } = useHeaderMeasurements();
Error:          useTabsContext must be inside a Tabs.Container

[2021-12-08 09:45] SupriyaPKalghatgi opened #220 "TextInput Keyboard does not work with tabs"
TextInput hides behind Keyboard for iOS

[2021-12-11 14:50] alexco2 opened #221 "Tabs.Scrollview breaks with Reanimated 2.3.0"
Hello,

I upgraded my project to reaniamted 2.3.0 and it seems to break `Tab.ScrollView`. `Tabs.Sectionlist` and `Tabs.Flatlist` are working perfectly fine. Here is a video from the example app where I upgraded reaniamted.

https://user-images.githubusercontent.com/61253912/145680411-20bf2cc5-f044-48a0-8a5b-124efa105f40.mp4

I went through the sourcecode and found the issue is with `onGliding` on

[2021-12-12 15:34] alexco2 commented on #221
I investigated further. To share my current progress. It seems like `onMomentumEnd` is not being called when using a `ScrollView`.:
https://github.com/PedroBern/react-native-collapsible-tab-view/blob/01b5a5a37675300921a2351e98eb4648bff2a7a8/src/hooks.tsx#L442
Really weird. Seems like there is some sort of change in the API for `ScrollView` for Reanimated 2.3.0

[2021-12-19 22:41] khlling commented on #221
I've just noticed this too using Reanimated 2.3.1

[2021-12-20 01:02] alexco2 commented on #221
@khlling yes that is a bug introduced with rea 2.3.0. I created an issue describing the bug. So far I haven't heard back from the maintainers of rea.

[2021-12-21 11:35] siddharth-kt commented on #212
Did you got any solution ?

[2021-12-24 09:52] siddharth-kt commented on #195
did you got any solution ?

[2021-12-24 13:58] siddharth-kt opened #222 "How to use this lib with RecyclerListView ?"
I want to use this library with https://github.com/Flipkart/recyclerlistview.
How can it be done ?

Thanks

[2021-12-24 14:01] siddharth-kt commented on #221
Hi @alexco2,

I know its different question but can you help me out with this issue.
[How to use this lib with RecyclerListView ?](https://github.com/PedroBern/react-native-collapsible-tab-view/issues/222)

[2021-12-24 17:03] alexco2 commented on #221
@siddharth-kt
Sorry, I have no idea. But isn´t recyclerlistview just for web? I would suggest you to fork this repo and try to implement it. If RecyclerListView extends ScrollView, this sould be easy.
If it works the community would really appreciate a pull request. I bet @andreialecu and @PedroBern would be happy to merge it.
Besides that, please keep the comments in the respective issues. Else i

[2021-12-24 17:09] siddharth-kt commented on #221
@alexco2

But isn´t recyclerlistview just for web?
- It works on mobile too.

I would suggest you to fork this repo and try to implement it.
- Ok, I will try.

Besides that, please keep the comments in the respective issues. Else it gets cluttered fast.
- Yeah, I understand this, I was expecting that you will answer me in mentioned issue 😅.

Thanks

[2021-12-25 17:15] #222 closed

[2021-12-25 17:22] siddharth-kt opened #223 "Kindly Update to react-navigation v6"
### Feature request

Hi @andreialecu @PedroBern,
Kindly update https://github.com/PedroBern/react-native-collapsible-tab-view/tree/v2 to react-navigation version 6
and also add new updates/features to this (version 2.0.2) (if any) from latest version https://github.com/PedroBern/react-native-collapsible-tab-view. (4.4.0)

### Current behavior

Currently it works on react-navigation version 5, but

[2021-12-25 18:44] siddharth-kt commented on #155
@andreialecu i am using version 2.0.2 with react-navigation + react-native-page-view and i am facing same issue kindly implement such update in react-navigation too.

[2021-12-29 00:27] doolb14 opened #224 "How to adjust indicator width dynamically?"
Hi! I am transitioning from React Navigation/Material Top Tabs to this library for obvious reasons. I stylized a dynamic indicator, which adjusts the width according to the tab item.

https://user-images.githubusercontent.com/29996189/147616557-06acd58d-bba0-4328-9ee0-aacb9200a2d4.mp4

I've been trying to achieve the same using this library but the tab indicator does not change its width according

[2021-12-29 01:23] PedroBern commented on #224
See https://github.com/PedroBern/react-native-collapsible-tab-view/issues/217#issuecomment-977364333

[2021-12-29 01:58] doolb14 commented on #224
Adding "scrollEnabled" to MaterialTabBar fixes the issue. Thanks! It's a great library :)

[2021-12-29 01:59] #224 closed

[2021-12-29 11:20] doolb14 opened #225 "useTabsContext must be inside a Tabs.Container"
Hi, when I'm trying to use "useAnimatedStyle" hook in js, I'm getting "_useTabsContext must be inside a Tabs.Container_" error. I tried following this [example](https://github.com/PedroBern/react-native-collapsible-tab-view/blob/main/example/src/AnimatedHeader.tsx) but still couldn't make it work

[2021-12-30 09:22] mouxuefei opened #226 "How to let the header scrollable and respond to click"

[2021-12-30 14:28] ianfelix commented on #203
I have the same problem, did you solve it?

[2021-12-30 21:25] doolb14 commented on #219
Did you find anything? I'm facing the same issue

[2022-01-07 08:21] azwinlam commented on #221
I am experience the same issue as described by the OP. However I would like to add that this only happens on Android. It works fine on Apple devices.

[2022-01-10 07:20] nghaosiong98 commented on #226
https://github.com/PedroBern/react-native-collapsible-tab-view#scroll-on-header
Have you try this?

[2022-01-12 22:03] falk-png opened #227 "TabBar Animation Not Working On First Render"
Hey. I have created a custom tabbar with animation and it works fine, but the only problem is that on first render it just waits 250 ms and shows the indicator, but it should start from 0 and go to 100% in this time. When i click another Label it does the same thing, but when i click the initial tab again it animates fine, so like everytime the label renders the first time it doesnt animate correc

[2022-01-13 09:46] waheedakhtar694 commented on #212
@siddharth-kt  No.

[2022-01-15 11:03] #198 closed

[2022-01-15 11:27] #226 closed

[2022-01-15 11:31] andreialecu commented on #209
Not sure if I understand the issue exactly but see #228 or https://github.com/PedroBern/react-native-collapsible-tab-view/blob/main/example/src/AndroidSharedPullToRefresh.tsx

[2022-01-15 11:31] #209 closed

[2022-01-15 11:35] andreialecu commented on #213
I also encountered the weird flicker and it was related to using `styled-components` and `flex={1}` which I assume you're also using. Try `flexGrow` instead, `flex` with styled components doesn't do what you'd expect.

The issue is probably related to styled components induced problems.

See: https://github.com/styled-components/styled-components/issues/1158

Please reopen otherwise.

[2022-01-15 11:35] #213 closed

[2022-01-15 11:37] andreialecu commented on #212
Closing as duplicate of #195

[2022-01-15 11:37] #212 closed

[2022-01-15 11:38] andreialecu commented on #195
Take a look at the code in https://github.com/PedroBern/react-native-collapsible-tab-view/blob/main/src/FlatList.tsx

You can probably add your own implementation similar to it.

[2022-01-15 12:01] andreialecu commented on #215
I think this is generally a React Navigation issue. See: https://github.com/react-navigation/react-navigation/issues/7154

Not sure if there's anything we can do here.

[2022-01-15 12:01] #215 closed

[2022-01-15 12:07] andreialecu commented on #219
Here's an example of how I'm using it.

[code]

Achieves an effect like:

https://user-images.githubusercontent.com/697707/149621148-85cf0bb3-01e1-4249-b781-26356692cc56.mp4

[2022-01-15 12:07] #219 closed

[2022-01-15 12:08] andreialecu commented on #225
This might help: https://github.com/PedroBern/react-native-collapsible-tab-view/issues/219#issuecomment-1013671098

[2022-01-15 12:08] #225 closed

[2022-01-15 13:11] Hirbod commented on #223
??  I am using RN v6 - this lib just works fine.

[2022-01-15 13:12] Hirbod commented on #223
Delete old comment - I see you asked for a backport.

[2022-01-15 13:13] Hirbod commented on #221
onMomentumEnd and couple of events are broken currently with Reanimated. I also created issues upstream for this, and there are still some unanswered other requests already.

[2022-01-15 13:14] siddharth-kt commented on #195
@andreialecu Thanks

[2022-01-15 13:16] andreialecu commented on #223
The current version (4+) does not have an official binding for react navigation but it works fine with RN6.

Here's how I'm using it, if this helps:

`createCollapsibleTabNavigator.tsx`:

[code]

Used like:

[code]

[2022-01-15 13:17] Hirbod commented on #203
Well you can't just overwrite onScroll here. U need to use the provided hooks and methods if you want to trigger events on scroll.

https://github.com/PedroBern/react-native-collapsible-tab-view/blob/main/src/ScrollView.tsx#L115
As you can see, onScroll is set AFTER `...rest`, so it will overwrite your onScroll method.

These event's are needed to make all the collapsible magic happen here.

[2022-01-18 18:32] NiccoloCase opened #231 "Horizontal flatlist not working properly"
In my layout, I have to use horizontal flatlists and before implementing the library I have done some tests by modifying the default example and I noticed that when the number of items in the flatlist exceeds 23, in addition to experiencing low performance, the following tab becomes completely blank.

[code]

This for me is an essential feature, is there any way around the problem?
Thanks.

[2022-01-20 17:52] zorx opened #232 "Scroll on header with pressable image"
i have a pressable image in my header and i would like to allow scrolling through this image, so the image must allow scrolling & be pressable.

any idea to handle this ?

[2022-01-27 02:42] h1nson commented on #168
Hi guys, finally i solved this issue by install **react-native-reanimated@alpha**,  do not use **react-native-reanimated@next**!

[2022-01-29 03:23] pycraft114 commented on #168
'Reanimated 2 doesn't work in Debug mode. Stop your debugging mode and it should work.' This should be documented

[2022-01-31 08:48] waheedakhtar694 opened #233 "Animation not allowing to navigate"
@andreialecu  I have three tabs and while scrolling animation is in progress if i press some button either to change tab or navigate on some other screen it's not allowing me to change tab or navigate until scrolling gets completed, Is there a way to cancel scrolling animation?

[2022-01-31 09:23] azwinlam commented on #233
See problem #221

[2022-01-31 10:02] waheedakhtar694 commented on #233
@azwinlam i am using reanimated `2.2.4` and i am able to scroll but my issue is while scrolling animation in progress it halts the other touchable component.

[2022-01-31 10:08] azwinlam commented on #233
Right. We also didn't have this problem until we upgraded some packages. We
also tried downgrading to 2.2.4 with nil help. But I believe both thread is
having the same issues.

On Mon, Jan 31, 2022, 18:02 Waheed Akhtar ***@***.***> wrote:

[2022-01-31 11:08] nihilenz commented on #144
Any updates? It would be the last feature missing for emulating apps like Instagram or Twitter 🙏

[2022-01-31 14:56] nihilenz commented on #226
You can make the header partially scrollable, but if you need one or more touchables (for example see the Instagram profile screen), they only respond to press touches and prevent the header from scrolling.
Unlike native apps or other projects (i.e. https://github.com/netguru/sticky-parallax-header), it seems touchables are not scrollable and vice versa. Or am I wrong?

[2022-02-10 21:56] TimDR-1356 commented on #144
**I have the solution!!**

On your header place: pointerEvents="box-none" instead of pointerEvents="none"

Then use BaseButton from react-native-gesture-handler instead of normal button.

**Code**

pointerEvents="box-none"

import {BaseButton} from 'react-native-gesture-handler';

<BaseButton onPress={()=> {'your code'}} rippleColor='transparent'>

<Text style={{fontSize: 40}}>Test Button</Text>

[2022-02-11 09:16] nihilenz commented on #144
Hello, are you sure if you touch up inside the `BaseButton` area you can also scroll the `View` by holding down your finger?

[2022-02-11 10:14] TimDR-1356 commented on #144
For me it worked try it yourself with the code I gave.

[2022-02-11 10:21] waheedakhtar694 opened #234 "List becomes lazy"
I have implemented infinite scroll in my list which fetch the more items while reaching on the end and after 70 or 80 items list start flickering and animation become too laggy.

[2022-02-11 16:55] shensven opened #235 "error occurred in the <ForwardRef> component"
After installed the `react-native-collapsible-tab-view` and wrote a minimal example, jest does not pass

## The error in the terminal
[code]

## minimal example

[code]

## Reference
https://github.com/shensven/Readhubn/commit/9b0877f890d9acf5542ec91964dc374307270f0c
https://github.com/software-mansion/react-native-reanimated/issues/2994

[2022-02-12 08:35] #235 closed

[2022-02-12 08:37] shensven commented on #235
Everything works fine after adding the mock
[code]

[2022-02-12 21:12] TimDR-1356 commented on #144
Idk miss try to use ScrollView from react-native-gesture-handler and add a pointerEvents="box-none"

[2022-02-14 11:22] FakhruddinAbdi commented on #144
I think its a deal breaker to use this package
It makes this package totally useless as it doesn't support touchable elements at the header
I just switched to another package

[2022-02-14 21:22] FakhruddinAbdi commented on #144
I tried react-native-tab-view again
You can use get ride of nesting virtualizedList inside scrollView error by using this hack

    import React from 'react';
    import { FlatList } from 'react-native';
    import { Props } from './model';

    const ScrollViewComponent: Props = props => {
    return (
        <FlatList
        {...props}
        data={[]}
        keyExtractor={(e, i) => 'dom' +

[2022-02-15 10:20] Hannes-Endare commented on #223
[code]
@andreialecu you should also add this to make navigation to the tabs work

[2022-02-15 11:17] nihilenz commented on #144
Yes, I also tried your code, but:
* `Text` component is scrollable if I had `pointerEvents="none"` and it's ok
* `BaseButton` component is not scrollable because the touch event prevails and does not allow to scroll the component
I don't understand how it works for you 🤷

[2022-02-15 16:00] TimDR-1356 commented on #144
I am using V2 because I use react navigation, maybe that is the difference?

[2022-02-17 11:02] waheedakhtar694 commented on #234
@andreialecu any suggestion?

[2022-02-17 16:36] anhquan291 commented on #221
Hi guys, I'm using Tabs.Flatlist for infinity scroll. However, the onMomentumScrollBegin event never gets fire. Any helps please? Thank you guys

[2022-02-18 04:01] owaisansarii commented on #232
Any progress here?

[2022-02-18 15:19] anhquan291 commented on #234
Hi @waheedakhtar694 ,
I'm also trying to implement infinite scroll in but the event onMomentumScrollBegin never fires. Please help. Thank you so much

[2022-02-18 18:06] siddharth-kt opened #236 "Is version 2 up to date ?"
I am just confirming if https://github.com/PedroBern/react-native-collapsible-tab-view/tree/v2 (v2.0.2) is up to date as compared to https://github.com/PedroBern/react-native-collapsible-tab-view (v4.5.2) as I can see v2 is not updated for a year?

Thanks.

[2022-02-18 18:29] anhquan291 opened #237 "Content is hidden when tabs change."
Hi guys,
I'm facing the issue that when I use Tabs.Flatlist for infinity scroll. When I scroll down to get more data at the middle Tab. After that I change to the last Tab, and to the first Tab => The content is hidden, it only shows when I start scroll.
Any helps please? Really appreciate that.  Thanks a lot.
Here is the video

https://user-images.githubusercontent.com/17813202/154741429-c5236573

[2022-02-19 19:05] Audrey-Ann opened #238 "Possibility to set the swipeEnabled to false for the Tabs.Tab"
### Feature request

Hello there! I would like to be able to disable the swipe gesture on the Tabs.Tab. That being said, I want to be in control on when the user is able to swipe between tabs. Just like how `material-top-tab-navigator` does it :

https://reactnavigation.org/docs/material-top-tab-navigator/#swipeenabled

Thank you!

### Current behavior

Right now, there is no way to disable the ge

[2022-02-19 19:08] Audrey-Ann opened #239 "Possibility to hide a Tabs.Tab"
### Feature request

I would like to be able to hide a Tabs.Tab based on some condition. Something flexible like changing the style like :
[code]

Or have a boolean `hide` prop.

Thank you !

### Current behavior

Right now the only way I can hide the tab is by setting the name to some empty string which is not ideal.

![Screen Shot 2022-02-19 at 2 07 26 PM](https://user-images.githubusercontent.c

[2022-02-20 00:03] andreialecu commented on #238
As an alternative, check out https://github.com/PedroBern/react-native-collapsible-segmented-view

[2022-02-20 15:02] anhquan291 commented on #173
Hi @andreialecu
About pull to refresh, I'm facing a problem on iOS when using the Tabs.Flatlist in a Bottom Tab.  After the List fetch items for the first time, I press to another BottomTab, and I then go back to the Tab that using Tabs.Flatlist, the Refresh Icon was there. So strange. Any suggestions please? Thank you so much.
![Simulator Screen Shot - iPhone 11 Pro - 2022-02-20 at 21 57 58](http

[2022-02-20 23:20] Audrey-Ann commented on #238
Thank you for your fast response, I will try to Fork your project and add this functionality to it :)

I really like how you did it and I need both functionality: allow swipe and disable it.

If you have any other recommandations please do !

Have a wonderful day and thank you again for providing this cool feature ! (and the code is clean !! Love it)

[2022-02-22 00:19] Audrey-Ann commented on #238
@andreialecu after forking the project and playing with the code, I managed with very few lines of code to achieve this feature ! Here are two commits where I managed to do two things
- Allow disabling the swipe gesture : https://github.com/Audrey-Ann/react-native-collapsible-tab-view/commit/7387522edb1ad8370d25981c3169e967c9ee1052
- Allow hiding a specific tab : https://github.com/Audrey-Ann/reac

[2022-02-22 18:13] alekhinen opened #240 "Infinite re-rendering in unit tests."
Hello,

My team has integrated this library into one of our applications and have run into a bug with jest unit tests that we need help with. The primary problem seems to be some kind of infinite re-rendering inside `Tab.tsx` and `Container.tsx`.

I've followed the test setup guidance provided here: https://github.com/PedroBern/react-native-collapsible-tab-view/issues/235 (seems based off of https

[2022-02-22 21:05] favorxo opened #241 "Scroll offset doesn't sync for each route using multiple ScrollViews"
https://user-images.githubusercontent.com/47069365/155219321-bad79038-a1a0-4d49-8e3b-c25110394a14.mp4

[2022-02-23 00:48] waleedshkt opened #242 "Non-Uniform Indicator Length in Custom TabBar"
### Current Behavior
Indicator doesn't fill the entire length of each tab. It's length remains half the screen width for the first tab.

### Expected Outcome
Indicator length should match the selected tab width

### How to Reproduce
Simply create a custom tab bar like shown below:
[code]

[2022-02-23 01:19] waleedshkt opened #243 "Add Current Tab View Prop"
### Feature request

For programmatically setting the active tab view easily, a prop like `activePage`, `currentPage` or simply `page` will be very helpful.

### Current behavior

No easy way to set current tab view programmatically. There're only `onIndexChange` and `onTabChange` for updating other components/ states when tab view is changed.

[2022-02-25 14:26] kokweng911 commented on #238
You just add this line `pagerProps={{ scrollEnabled: false }}` into ` Tabs.Container` and it will disable the scrolling.

[2022-02-25 14:30] Audrey-Ann commented on #238
@kokweng911 oh I will have to test that!

Still need to hide the tab though too if that something we could integrate into the package: https://github.com/Audrey-Ann/react-native-collapsible-tab-view/commit/8963f4911206d42ab8e4c209206361a238110cae

[2022-02-25 17:34] andreialecu commented on #238
You can conditionally not render the tab via `condition && <Tabs.Tab`.

[2022-02-25 17:36] Audrey-Ann commented on #238
@andreialecu but I still want to show the content of the tab, just want to hide it. :)

[2022-02-25 17:40] andreialecu commented on #238
I'm not sure I understand what you mean by "show" but "hide".

Mind explaining an exact use case?

[2022-02-25 17:46] Audrey-Ann commented on #238
Of course!

My use case is:
- I have a list of tabs `A`, `B` and `C`
- I want to display the content for all active tabs `A`, `B` and `C`
- However I want to show in the header (in my case I use the MaterialTabs) only tabs `B` and `C` but hide the `A` tab label
- If A is the active tab (for instance, it's the first tab of the list, or it gets active programmatically) then we display its content bu

[2022-03-02 03:24] littletreezlx commented on #241
same problem

[2022-03-02 12:30] siddharth-kt commented on #223
ok then 👍

[2022-03-04 22:34] khlling commented on #233
Probably related to https://github.com/software-mansion/react-native-reanimated/issues/1701

[2022-03-04 22:46] khlling commented on #221
@andreialecu Is there any update on this? Following the thread (https://github.com/software-mansion/react-native-reanimated/issues/1699), I noticed that your upstream issue was closed and you were asked to open a discussion. But I lost the trail from there.

I upgrading to the latest react-native-reanimated v2.4.1 with react-native-collapsible-tab-view v4.5.2.

[2022-03-05 09:10] andreialecu commented on #221
The upstream issue is https://github.com/software-mansion/react-native-reanimated/issues/2735 which doesn't seem to be resolved.

Suggest staying on reanimated `2.2.x` for now.

[2022-03-05 13:01] khlling commented on #221
@andreialecu thanks! Will keep an eye on the upstream issue.

[2022-03-06 11:05] reizhafajrian opened #244 "fps drop when using this library in bottom tab bar navigation"
when the component is used outside the bottom tab or into the stack screen, the component does not experience a drop in fps but otherwise is there a solution for this?

[2022-03-09 23:04] Audrey-Ann commented on #238
@andreialecu any comments on the above ? :) Thanks in advance

[2022-03-16 08:35] harshal311989 opened #245 "Tab not clickable once come back from mobile browser"
Hello team, I am using this plugin in my application and i have 4 tabs and inside one tab    i am click on website url and navigation mobile default browser so once i am back again in app other tab not clickable refer my video

https://user-images.githubusercontent.com/75067288/158548692-ca2054e9-b1bc-4ef1-ab5d-ab3d4cc266de.mov

here is code

`import {TabBarProps, Tabs, MaterialTabBar} from 'react

[2022-03-16 16:03] namtran010 commented on #237
@anhquan291  you can use `scrollToOffset` to scroll to top when focusing on each tab

[2022-03-16 16:32] tiagotwistag opened #246 "Flatlist allows the user to scroll down even though there's no more content to show"
While configuring the tabs.container to allow a minHeaderHeight I noticed that I was able to scroll past the content, this means I was able to keep scrolling even if I didn't had more content, I also noticed that the amount of scroll I was able to go past was exactly the minHeaderHeight value.
After some testing I updated the **useCollapsibleStyle** hook to take into consideration the **minHeaderH

[2022-03-16 16:43] HenriqueFadoni commented on #245
I am having the same problem, @harshal311989 did you find any solutions for this?

[2022-03-17 03:54] azwinlam commented on #245
Same issue and the scroll breaks as well.

#221

[2022-03-17 05:07] harshal311989 commented on #245
No @HenriqueFadoni still not found any solutions

[2022-03-17 05:10] harshal311989 commented on #245
@azwinlam Any solution you found for Android ?

[2022-03-17 05:46] azwinlam commented on #245
Unfortunately no.

On Thu, Mar 17, 2022, 13:11 harshal311989 ***@***.***> wrote:

[2022-03-17 14:58] HenriqueFadoni commented on #245
It seems this bug is happening when we first scroll the view down, on my side at least, it works normally before the scrolling happens. Really weird, I tried using `jumpToTab`/`setIndex` on a `onPressTab`, but no luck so far. It's super strange, the animation still being triggered as well as the `onPressTab` event, however, the properties are not changing.

[2022-03-17 15:01] HenriqueFadoni commented on #245
The only way to change tabs for now is to `swipe right to left or vice versa`. Maybe it's something related to this feature?

[2022-03-19 08:26] behigh commented on #245
Same issue. On iOS all work.

[2022-03-19 21:18] siddharth-kt opened #247 "How to use revealHeaderOnScroll with v2 ?"
How to use revealHeaderOnScroll with https://github.com/PedroBern/react-native-collapsible-tab-view/tree/v2

[2022-03-20 08:29] siddharth-kt commented on #245
Same issue on android

[2022-03-21 16:43] HenriqueFadoni commented on #245
Could someone tag this as a `bug` ? And, not a `questions`?

[2022-03-26 14:12] hirbod opened #248 "Release gesture (activeOffset?) when on first tab to enable navigator swipe/pop"
### Feature request

Currently, the TabView is blocking navigator gestures, eg you cant swipe to go back/pop.
It would be nice to release the gesture (guess you're able to do this with activeOffsetX on gesture handler) to enable navigator swipe. This should only happen when on first tab and the swipe direction is correct.

### Current behavior

Its blocking. Currently only working when swiping on

[2022-03-26 14:13] hirbod commented on #246
+1. You should provide a PR

[2022-03-28 03:08] hirbod commented on #248
Looks like there is no gesture handler, its just a ScrollView. I tried to make it work but couldn't unfortunately. Not sure how to achieve this, but its kind sad hat swipe to go back is not working.

[2022-03-28 08:18] xapss commented on #241
same problem here.

[2022-03-28 20:04] andreialecu commented on #241
I believe this is the same as https://github.com/PedroBern/react-native-collapsible-tab-view/issues/221

Which version of Reanimated are you using? Run `yarn why react-native-reanimated` and post the output please.

[2022-03-28 20:07] andreialecu commented on #248
There's a workaround here that may work:

https://github.com/react-navigation/react-navigation/issues/7878#issuecomment-1035927935

[2022-03-28 20:11] hirbod commented on #248
I will try. I am using react-native-screens `native-stack` and the option `fullScreenGesture`, so its actually a bummer but I will try now. I am using FlatList. I will report back if this workaround is working. Hacking around yesterday, the only way I was able to "somehow" make it work (super buggy), was to enable "bounces" and check the x-value inside the animatedScroll event handler and setNativ

[2022-03-28 20:20] hirbod commented on #248
@andreialecu unfortunately, your workaround is neither working on `createNativeStackNavigator` nor on `createStackNavigator`. I see the hitSlop is preventing tabs 50px from left (buttons not working), but it does not help with the gesture issue.

[2022-03-28 20:29] 10000multiplier commented on #248
@hirbod try doing it like this:

` <Tabs.Container pagerProps={{ hitSlop: { left: -50 }}} />`

[2022-03-28 20:30] hirbod commented on #248
Ok, the only way to make it work was patching Container.js with patch-package and add hitslop: -10 there @andreialecu

[2022-03-28 20:32] hirbod commented on #248
Yupp, that is working @10000multiplier :)

[2022-03-29 05:58] vkochukov commented on #241
Same problem, I'm using 2.4.1

[2022-03-29 08:54] vkochukov commented on #241
Same problem. I'm using 2.4.1. I downgraded to 2.2.3 but it didn't help. Works fine if I downgrade [react-native-collapsible-tab-view](https://github.com/PedroBern/react-native-collapsible-tab-view) to 2.3.0